<a href="https://colab.research.google.com/github/NarawitPrathansap/bsc_dpbm22/blob/main/%5Bdataprep1%5Dproperty_estimator3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##quiz

In [242]:
import pandas as pd
from google.colab import drive 
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# สรุปข้อมูลของนักประเมินแต่ละคน โดยพิจารณาจาก ความมั่นใจในการประเมิน ประเมินราคาซื้อ-ขาย ให้คะแนนทรัพย์

In [243]:
home = pd.read_excel('/content/gdrive/MyDrive/bsc_DPBM_data_N/คำตอบนักประเมิน.xlsx',sheet_name=0)
home.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,100.0
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN

## นักประเมินคนที่ 1

In [244]:
est1_home = home[home['ID ผู้ประเมิน']==1]

In [245]:
est1_home.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,100.0,1.000000e+02,1.000000e+02,0.0,0.0,0.0,0.0,1.0
mean,1.0,4.316360e+06,3.938500e+06,NaN,NaN,NaN,NaN,100.0
std,0.0,2.865391e+06,2.368553e+06,NaN,NaN,NaN,NaN,NaN
min,1.0,3.900000e+05,6.000000e+05,NaN,NaN,NaN,NaN,100.0
25%,1.0,2.892750e+06,2.775000e+06,NaN,NaN,NaN,NaN,100.0
50%,1.0,3.962000e+06,3.600000e+06,NaN,NaN,NaN,NaN,100.0
75%,1.0,5.000000e+06,4.500000e+06,NaN,NaN,NaN,NaN,100.0
max,1.0,2.094900e+07,1.600000e+07,NaN,NaN,NaN,NaN,100.0

## นักประเมินคนที่ 2

In [246]:
est2_home = home[home['ID ผู้ประเมิน']==2]

In [247]:
est2_home.describe()

,ID ผู้ประเมิน,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
count,90.0,9.000000e+01,8.900000e+01,0.0,0.0,0.0,0.0,0.0
mean,2.0,4.240733e+06,4.153258e+06,NaN,NaN,NaN,NaN,NaN
std,0.0,2.714815e+06,2.386901e+06,NaN,NaN,NaN,NaN,NaN
min,2.0,3.900000e+05,9.900000e+05,NaN,NaN,NaN,NaN,NaN
25%,2.0,2.860000e+06,2.600000e+06,NaN,NaN,NaN,NaN,NaN
50%,2.0,4.000000e+06,3.900000e+06,NaN,NaN,NaN,NaN,NaN
75%,2.0,5.000000e+06,4.900000e+06,NaN,NaN,NaN,NaN,NaN
max,2.0,2.094900e+07,1.700000e+07,NaN,NaN,NaN,NaN,NaN

### นักประเมินคนที่ 1 ความมั่นใจในการประเมิน ประเมินราคาซื้อ-ขาย ให้คะแนนทรัพย์

In [248]:
est1_home['ให้คะแนนทรัพย์'].value_counts()

2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี    54
3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     43
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน       2
1 ขายไม่ได้แน่นอน                      1
Name: ให้คะแนนทรัพย์, dtype: int64

In [249]:
est1_home['ความมั่นใจในการเมินราคาทรัพย์'].value_counts()

มั่นใจ    100
Name: ความมั่นใจในการเมินราคาทรัพย์, dtype: int64

In [250]:
est1_home.describe()['ประเมินราคาซื้อ-ขาย']

count    1.000000e+02
mean     3.938500e+06
std      2.368553e+06
min      6.000000e+05
25%      2.775000e+06
50%      3.600000e+06
75%      4.500000e+06
max      1.600000e+07
Name: ประเมินราคาซื้อ-ขาย, dtype: float64

### นักประเมินคนที่ 2 ความมั่นใจในการประเมิน ประเมินราคาซื้อ-ขาย ให้คะแนนทรัพย์

In [251]:
est2_home['ให้คะแนนทรัพย์'].value_counts()

3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน     64
4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน      23
5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน      1
2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี     1
Name: ให้คะแนนทรัพย์, dtype: int64

In [252]:
est2_home['ความมั่นใจในการเมินราคาทรัพย์'].value_counts()

มั่นใจ       89
ไม่มั่นใจ     1
Name: ความมั่นใจในการเมินราคาทรัพย์, dtype: int64

In [253]:
est2_home.describe()['ประเมินราคาซื้อ-ขาย']

count    8.900000e+01
mean     4.153258e+06
std      2.386901e+06
min      9.900000e+05
25%      2.600000e+06
50%      3.900000e+06
75%      4.900000e+06
max      1.700000e+07
Name: ประเมินราคาซื้อ-ขาย, dtype: float64

#HW1 เปรียบเทียบความแตกต่างในการประเมินราคาทรัพย์แต่ละทรัพย์ของนักประเมินแต่ละคนของราคาตั้งขาย

## บ้าน

### สร้างตาราง

In [254]:
est2_home['ประเมินโดย2']  = est2_home['post id'].map(est2_home.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

<ipython-input-254-a017043473c2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est2_home['ประเมินโดย2']  = est2_home['post id'].map(est2_home.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

In [255]:
est2_home['ประเมินโดย1'] = est2_home['post id'].map(est1_home.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est2_home.head()

<ipython-input-255-b224819e6b7e>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est2_home['ประเมินโดย1'] = est2_home['post id'].map(est1_home.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ประเมินโดย2,ประเมินโดย1
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2700000.0,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,NaN,2700000.0,2500000.0
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000.0,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2400000.0,2200000.0
5,2,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,5900000.0,9000000.0,"โซนนี้ราคาซื้อขาย ประมาณ 10,000-20,000 บาท/ตาร...",NaN,5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน,NaN,NaN,NaN,NaN,NaN,9000000.0,5000000.0
7,2,https://nayoo.co/khonkaen/posts/564,บ้านเดี่ยว,มั่นใจ,4400000.0,3700000.0,"เสนอขาย 3,500,000 - 4,200,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,3700000.0,3500000.0
9,2,https://nayoo.co/khonkaen/posts/566,บ้านเดี่ยว,มั่นใจ,2750000.0,2500000.0,"ราคาเสนอขาย 2,000,0000 - 2,800,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,NaN,2500000.0,2500000.0

In [256]:
home_mape = est2_home[['post id','ราคาทรัพย์','ประเมินโดย1','ประเมินโดย2']]
home_mape.isnull().any()
home_mape = home_mape.dropna(subset= ['ประเมินโดย2'])

In [257]:
home_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0,2700000.0
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2200000.0,2400000.0
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3500000.0,3700000.0
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0
...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,4500000.0,5000000.0
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,5200000.0,7400000.0
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0
188,https://nayoo.co/khonkaen/posts/31,4000000.0,4000000.0,3900000.0
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1200000.0,1400000.0

### MAPE

In [258]:
from sklearn.metrics import mean_absolute_percentage_error #as MAPE

In [259]:
a = home_mape['ราคาทรัพย์']
a_pred_1 = home_mape['ประเมินโดย1']
a_pred_2 = home_mape['ประเมินโดย2']

In [260]:
mean_absolute_percentage_error(a,a_pred_1 )
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(บ้าน) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mean_absolute_percentage_error(a,a_pred_1)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาทรัพย์(บ้าน) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 12.32%

In [261]:
mean_absolute_percentage_error(a,a_pred_2)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(บ้าน) และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(a,a_pred_2)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาทรัพย์(บ้าน) และ ราคาของผู้ประเมินคนที่2 เท่ากับ 10.42%

In [262]:
mean_absolute_percentage_error(a_pred_1,a_pred_2 )
print(f'ค่า MAPE ระหว่าง  ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(a_pred_1,a_pred_2)*100:.2f}%')

ค่า MAPE ระหว่าง  ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ 13.63%

## ที่ดิน

In [263]:
land = pd.read_excel('/content/gdrive/MyDrive/bsc_DPBM_data_N/คำตอบนักประเมิน.xlsx',sheet_name=1)
land.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,1800000.0,"8,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,100.0
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
2,4,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,3000000.0,12000-18000,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN
3,1,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,8000000.0,"25,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN
4,2,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,12000000.0,"ราคาเสนอขาย 100,000-150,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN

### สร้างตาราง

In [264]:
est1_land = land [land ['ID ผู้ประเมิน']==1]

In [265]:
est2_land = land [land ['ID ผู้ประเมิน']==2]

In [266]:
est1_land['ประเมินโดย1']  = est1_land['post id'].map(est1_land.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

<ipython-input-266-9abd320c0b45>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_land['ประเมินโดย1']  = est1_land['post id'].map(est1_land.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

In [267]:
est1_land['ประเมินโดย2']  = est1_land['post id'].map(est2_land.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

<ipython-input-267-88d3795377e9>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_land['ประเมินโดย2']  = est1_land['post id'].map(est2_land.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

In [268]:
est1_land.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,ประเมินโดย1,ประเมินโดย2
0,1,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,1800000.0,"8,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,100.0,1800000.0,2000000.0
3,1,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,8000000.0,"25,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,8000000.0,12000000.0
6,1,https://nayoo.co/khonkaen/posts/1726,ที่ดิน,มั่นใจ,90000000,18000000.0,"8,000-35,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,18000000.0,70000000.0
9,1,https://nayoo.co/khonkaen/posts/1732,ที่ดิน,มั่นใจ,65000000,35000000.0,"15,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,35000000.0,60000000.0
12,1,https://nayoo.co/khonkaen/posts/1866,ที่ดิน,มั่นใจ,3000000,2200000.0,"10,000-20,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,2200000.0,2500000.0

In [269]:
land_mape = est1_land[['post id','ราคาทรัพย์','ประเมินโดย1','ประเมินโดย2']]
land_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2
0,https://nayoo.co/khonkaen/posts/1033,2800000,1800000.0,2000000.0
3,https://nayoo.co/khonkaen/posts/1711,14900000,8000000.0,12000000.0
6,https://nayoo.co/khonkaen/posts/1726,90000000,18000000.0,70000000.0
9,https://nayoo.co/khonkaen/posts/1732,65000000,35000000.0,60000000.0
12,https://nayoo.co/khonkaen/posts/1866,3000000,2200000.0,2500000.0
...,...,...,...,...
201,https://nayoo.co/khonkaen/posts/14539,5000000,4000000.0,4000000.0
203,https://nayoo.co/khonkaen/posts/16072,750000,500000.0,750000.0
205,https://nayoo.co/khonkaen/posts/17093,2650000,2000000.0,2500000.0
207,https://nayoo.co/khonkaen/posts/17112,1300000,1500000.0,1500000.0
209,https://nayoo.co/khonkaen/posts/17145,3000000,2500000.0,2800000.0

### MAPE

In [270]:
b = land_mape['ราคาทรัพย์']
b_pred_1 = land_mape['ประเมินโดย1']
b_pred_2 = land_mape['ประเมินโดย2']

In [271]:
mean_absolute_percentage_error(b,b_pred_1)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์ และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(b,b_pred_1)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาทรัพย์ และ ราคาของผู้ประเมินคนที่2 เท่ากับ 41.34%

In [272]:
mean_absolute_percentage_error(b,b_pred_2 )
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(ที่ดิน) และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(b,b_pred_2)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาทรัพย์(ที่ดิน) และ ราคาของผู้ประเมินคนที่2 เท่ากับ 40.12%

In [273]:
mean_absolute_percentage_error(b_pred_1,b_pred_2 )
print(f'ค่า MAPE ระหว่าง ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(b_pred_1,b_pred_2)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ 74.08%

## คอนโด

In [274]:
condo = pd.read_excel('/content/gdrive/MyDrive/bsc_DPBM_data_N/คำตอบนักประเมิน.xlsx',sheet_name=2)
condo.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10
0,1,32.0,คอนโด,มั่นใจ,3500000.0,3500000.0,"60,000-130,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
1,1,36.0,คอนโด,มั่นใจ,1930000.0,2200000.0,"50,000-90,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
2,1,603.0,คอนโด,มั่นใจ,2438000.0,2800000.0,"35,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
3,1,1395.0,คอนโด,มั่นใจ,1600000.0,2300000.0,"30,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
4,1,1443.0,คอนโด,มั่นใจ,1860000.0,1800000.0,"30,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี

In [275]:
condo['ประเมินโดย1'] = condo['ประเมินราคาซื้อ-ขาย']

In [276]:
condo_mape = condo[['post id','ราคาทรัพย์','ประเมินโดย1']]
condo_mape

   post id  ราคาทรัพย์  ประเมินโดย1
0     32.0   3500000.0    3500000.0
1     36.0   1930000.0    2200000.0
2    603.0   2438000.0    2800000.0
3   1395.0   1600000.0    2300000.0
4   1443.0   1860000.0    1800000.0
5   1609.0   1490000.0    1500000.0
6   1640.0   1280000.0    1600000.0
7   1641.0   4290000.0    2700000.0
8   1650.0   1700000.0    1550000.0
9   1840.0   3790000.0    2800000.0

### MAPE

In [277]:
c = condo_mape['ราคาทรัพย์']
c_pred_1 = condo_mape['ประเมินโดย1']

In [278]:
mean_absolute_percentage_error(c,c_pred_1)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(คอนโด) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mean_absolute_percentage_error(c,c_pred_1)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาทรัพย์(คอนโด) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 17.35%

## ทาว์นโฮม

In [279]:
townhome = pd.read_excel('/content/gdrive/MyDrive/bsc_DPBM_data_N/คำตอบนักประเมิน.xlsx',sheet_name=3)
townhome.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,120.0
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,1500000.0,ราคาเสนอขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,3500000.0,"8,000-80,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN

### สร้างตาราง

In [280]:
est1_townhome = townhome [townhome ['ID ผู้ประเมิน']==1]

In [281]:
est2_townhome = townhome [townhome ['ID ผู้ประเมิน']==2]

In [282]:
print(len(est1_townhome))
print(len(est2_townhome))

120
120

In [283]:
est1_townhome['ประเมินโดย1']  = est1_townhome['post id'].map(est1_townhome.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

<ipython-input-283-87c88ec3b543>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_townhome['ประเมินโดย1']  = est1_townhome['post id'].map(est1_townhome.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

In [284]:
est1_townhome['ประเมินโดย2']  = est1_townhome['post id'].map(est2_townhome.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est1_townhome.head()

<ipython-input-284-cd110fbc2de3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_townhome['ประเมินโดย2']  = est1_townhome['post id'].map(est2_townhome.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,ประเมินโดย1,ประเมินโดย2
0,1,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,120.0,700000.0,1500000.0
2,1,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000.0,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN,700000.0,1500000.0
4,1,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,3520000.0,3500000.0,"8,000-80,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN,3500000.0,4000000.0
6,1,https://nayoo.co/khonkaen/posts/580,ทาวน์โฮม,มั่นใจ,3850000.0,3500000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,3500000.0,3200000.0
8,1,https://nayoo.co/khonkaen/posts/582,ทาวน์โฮม,มั่นใจ,990000.0,1000000.0,"8,000-80,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN,1000000.0,800000.0

In [285]:
townhome_mape = est1_townhome[['post id','ราคาทรัพย์','ประเมินโดย1','ประเมินโดย2']]
townhome_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2
0,https://nayoo.co/khonkaen/posts/548,1045000.0,700000.0,1500000.0
2,https://nayoo.co/khonkaen/posts/549,935000.0,700000.0,1500000.0
4,https://nayoo.co/khonkaen/posts/579,3520000.0,3500000.0,4000000.0
6,https://nayoo.co/khonkaen/posts/580,3850000.0,3500000.0,3200000.0
8,https://nayoo.co/khonkaen/posts/582,990000.0,1000000.0,800000.0
...,...,...,...,...
125,https://nayoo.co/khonkaen/posts/18547,1430000.0,1000000.0,1200000.0
126,https://nayoo.co/khonkaen/posts/18551,1980000.0,1500000.0,1700000.0
127,https://nayoo.co/khonkaen/posts/19434,2000000.0,1600000.0,1900000.0
128,https://nayoo.co/khonkaen/posts/19501,1790000.0,1600000.0,1700000.0
129,https://nayoo.co/khonkaen/posts/20367,1590000.0,1700000.0,1700000.0

### MAPE

In [286]:
d = townhome_mape['ราคาทรัพย์']
d_pred_1 = townhome_mape['ประเมินโดย1']
d_pred_2 = townhome_mape['ประเมินโดย2']

In [287]:
mean_absolute_percentage_error(d,d_pred_1)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(ทาวน์โฮม) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mean_absolute_percentage_error(d,d_pred_1)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาทรัพย์(ทาวน์โฮม) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 11.37%

In [288]:
mean_absolute_percentage_error(d,d_pred_2)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(ทาวน์โฮม)  และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(d,d_pred_2)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาทรัพย์(ทาวน์โฮม)  และ ราคาของผู้ประเมินคนที่2 เท่ากับ 8.77%

In [289]:
mean_absolute_percentage_error(d_pred_1,d_pred_2)
print(f'ค่า MAPE ระหว่าง  ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(d_pred_1,d_pred_2)*100:.2f}%')

ค่า MAPE ระหว่าง  ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ 11.21%

## อาคารพาณิชย์

In [290]:
commercial = pd.read_excel('/content/gdrive/MyDrive/bsc_DPBM_data_N/คำตอบนักประเมิน.xlsx',sheet_name=4)
commercial.head()

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,1,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,6000000.0,"8,000-30,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,10.0
1,2,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,8000000.0,"ราคาเสนอขาย 4,000,000-6,000,000 บาท/คูหา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,"8,000-40,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,13500000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN

### สร้างตาราง

In [291]:
est1_commercial = commercial [commercial ['ID ผู้ประเมิน']==1]

In [292]:
est2_commercial = commercial [commercial ['ID ผู้ประเมิน']==2]

In [293]:
print(len(est1_commercial))
print(len(est2_commercial))

10
10

In [294]:
est1_commercial['ประเมินโดย1']  = est1_commercial['post id'].map(est1_commercial.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

<ipython-input-294-ebf7e069d23b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_commercial['ประเมินโดย1']  = est1_commercial['post id'].map(est1_commercial.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

In [295]:
est1_commercial['ประเมินโดย2']  = est1_commercial['post id'].map(est2_commercial.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est1_commercial.head(3)

<ipython-input-295-374a98500130>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_commercial['ประเมินโดย2']  = est1_commercial['post id'].map(est2_commercial.set_index('post id')['ประเมินราคาซื้อ-ขาย'])

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,ประเมินโดย1,ประเมินโดย2
0,1,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,7000000.0,6000000.0,"8,000-30,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน,NaN,NaN,10.0,6000000.0,8000000.0
2,1,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000.0,12000000.0,"8,000-40,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,12000000.0,12000000.0
4,1,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000.0,13500000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,2.0,ขายได้ ใช้ระยะเวลา 4-6 เดือน,NaN,NaN,NaN,13500000.0,20000000.0

In [296]:
commercial_mape = est1_commercial[['post id','ราคาทรัพย์','ประเมินโดย1','ประเมินโดย2']]
commercial_mape

                                post id  ราคาทรัพย์  ประเมินโดย1  ประเมินโดย2
0     https://nayoo.co/khonkaen/posts/6   7000000.0    6000000.0    8000000.0
2    https://nayoo.co/khonkaen/posts/17  12000000.0   12000000.0   12000000.0
4    https://nayoo.co/khonkaen/posts/21  22500000.0   13500000.0   20000000.0
6    https://nayoo.co/khonkaen/posts/22   3500000.0    4000000.0    4000000.0
8    https://nayoo.co/khonkaen/posts/24   3900000.0    2200000.0    3000000.0
10   https://nayoo.co/khonkaen/posts/30   4800000.0    3600000.0    4000000.0
12   https://nayoo.co/khonkaen/posts/35   2400000.0    2500000.0    2100000.0
14  https://nayoo.co/khonkaen/posts/497   5000000.0    3800000.0    5000000.0
16  https://nayoo.co/khonkaen/posts/498   7000000.0    7000000.0    8000000.0
18  https://nayoo.co/khonkaen/posts/499   9000000.0    8000000.0   10000000.0

### MAPE

In [297]:
e = commercial_mape['ราคาทรัพย์']
e_pred_1 = commercial_mape['ประเมินโดย1']
e_pred_2 = commercial_mape['ประเมินโดย2']

In [298]:
mean_absolute_percentage_error(e,e_pred_1 )
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(อาคารพาณิชย์) และ ราคาของผู้ประเมินคนที่1 เท่ากับ {mean_absolute_percentage_error(e,e_pred_1)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาทรัพย์(อาคารพาณิชย์) และ ราคาของผู้ประเมินคนที่1 เท่ากับ 17.64%

In [299]:
mean_absolute_percentage_error(e,e_pred_2)
print(f'ค่า MAPE ระหว่าง ราคาทรัพย์(อาคารพาณิชย์) และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(e,e_pred_2)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาทรัพย์(อาคารพาณิชย์) และ ราคาของผู้ประเมินคนที่2 เท่ากับ 11.73%

In [300]:
mean_absolute_percentage_error(e_pred_1,e_pred_2)
print(f'ค่า MAPE ระหว่าง ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ {mean_absolute_percentage_error(e_pred_1,e_pred_2)*100:.2f}%')

ค่า MAPE ระหว่าง ราคาของผู้ประเมินคนที่1 และ ราคาของผู้ประเมินคนที่2 เท่ากับ 21.58%

## เขียน function ตรวจสอบค่าที่เติม 0 ผิด

In [301]:
max(10,2)

10

In [302]:
def check_v(in1,in2):
    return max(in1/in2,in2/in1)

In [303]:
check_v(250,2500)

10.0

In [304]:
check_v(100,12)

8.333333333333334

In [305]:
check_v(100,1200)

12.0

## สร้าง column ใหม่ ลงในตาราง home โดย ค่าใน column คือค่าจาก function check(ราคาตั้งขาย,ราคาประเมิน1)

### บ้าน

In [306]:
#บ้าน
home_mape['check1']=home_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย1']),axis=1)
home_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0,2700000.0,1.080000
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2200000.0,2400000.0,1.181818
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0,1.180000
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3500000.0,3700000.0,1.257143
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0,1.100000
...,...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,4500000.0,5000000.0,1.222222
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,5200000.0,7400000.0,1.521346
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,1.800000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,4000000.0,3900000.0,1.000000
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1200000.0,1400000.0,1.145833

In [307]:
check1 = list()
for row in home_mape.iterrows():
     check1.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมินโดย1']))
check1

[1.08,
 1.1818181818181819,
 1.18,
 1.2571428571428571,
 1.1,
 1.271111111111111,
 1.36,
 1.0153846153846153,
 1.3684,
 1.031941031941032,
 1.0476190476190477,
 1.1785714285714286,
 1.0592592592592593,
 1.188,
 1.1275,
 1.1,
 1.1157142857142857,
 1.0371428571428571,
 1.0588235294117647,
 1.2571428571428571,
 1.13125,
 1.0,
 1.0888888888888888,
 1.0892333472978635,
 1.0444444444444445,
 1.0,
 1.0434782608695652,
 1.02,
 1.25,
 1.13,
 1.0714285714285714,
 1.0,
 1.0,
 1.3833333333333333,
 1.03125,
 1.1611111111111112,
 1.0526315789473684,
 1.5384615384615385,
 1.0227272727272727,
 1.1363636363636365,
 1.1111111111111112,
 1.1290322580645162,
 1.1388888888888888,
 1.0,
 1.0933333333333333,
 1.3093125,
 1.21,
 1.24,
 1.1642857142857144,
 1.1,
 1.4685314685314685,
 1.1111111111111112,
 1.1942857142857144,
 1.0714285714285714,
 1.0710526315789475,
 1.4575,
 1.046,
 1.09375,
 1.044932079414838,
 1.1090909090909091,
 1.1333333333333333,
 1.1866666666666668,
 1.036,
 1.0031347962382444,
 1.0606060606060606,
 1.2,
 1.2340425531914894,
 1.0,
 1.0857142857142856,
 1.1607142857142858,
 1.1290322580645162,
 1.0263929618768328,
 1.1628571428571428,
 1.083720930232558,
 1.1333333333333333,
 1.0526315789473684,
 1.5238095238095237,
 1.0666666666666667,
 1.0167768174885612,
 1.0,
 1.0526315789473684,
 1.0083333333333333,
 1.0697727272727273,
 1.1,
 1.2222222222222223,
 1.521346153846154,
 1.8,
 1.0,
 1.1458333333333333]

In [308]:
home_mape['check1_2'] = check1
home_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check1_2
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0,2700000.0,1.080000,1.080000
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2200000.0,2400000.0,1.181818,1.181818
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0,1.180000,1.180000
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3500000.0,3700000.0,1.257143,1.257143
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0,1.100000,1.100000
...,...,...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,4500000.0,5000000.0,1.222222,1.222222
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,5200000.0,7400000.0,1.521346,1.521346
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,1.800000,1.800000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,4000000.0,3900000.0,1.000000,1.000000
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1200000.0,1400000.0,1.145833,1.145833

In [309]:
check2 = list()
for row in home_mape.iterrows():
     check2.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมินโดย2']))
check2

[1.0,
 1.0833333333333333,
 1.5254237288135593,
 1.1891891891891893,
 1.1,
 1.0314685314685315,
 1.050420168067227,
 1.0416666666666667,
 1.1403333333333334,
 1.0175,
 1.0476190476190477,
 1.03125,
 1.0214285714285714,
 1.0607142857142857,
 1.025,
 1.0607142857142857,
 1.0847222222222221,
 1.0371428571428571,
 1.0,
 1.125,
 1.1049723756906078,
 1.1904761904761905,
 1.0888888888888888,
 1.0054461667364893,
 1.0425531914893618,
 1.125,
 1.0434782608695652,
 1.0364145658263306,
 1.0,
 1.0324483775811208,
 1.04,
 1.2,
 1.04,
 1.1318181818181818,
 1.0,
 1.045,
 1.0526315789473684,
 3.3333333333333335,
 1.0227272727272727,
 1.04,
 1.08,
 1.2903225806451613,
 1.1219512195121952,
 1.125,
 1.2195121951219512,
 1.2322941176470588,
 1.0755555555555556,
 1.1366666666666667,
 1.0736196319018405,
 1.1,
 1.048951048951049,
 1.1111111111111112,
 1.045,
 1.0666666666666667,
 1.0435897435897437,
 1.4575,
 1.046,
 1.0857142857142856,
 1.1484,
 1.1090909090909091,
 1.0408163265306123,
 1.1125,
 1.036,
 1.0031347962382444,
 1.1,
 1.1666666666666667,
 1.0344827586206897,
 1.0285714285714285,
 1.0857142857142856,
 1.0,
 1.0769230769230769,
 1.0263929618768328,
 1.031941031941032,
 1.0355555555555556,
 1.0625,
 1.1578947368421053,
 1.0476190476190477,
 1.0227272727272727,
 1.0167768174885612,
 1.125,
 1.05,
 1.05875,
 1.046,
 1.056,
 1.1,
 1.069054054054054,
 1.25,
 1.0256410256410255,
 1.018181818181818]

In [310]:
home_mape['check1_2'] = check1
home_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check1_2
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0,2700000.0,1.080000,1.080000
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2200000.0,2400000.0,1.181818,1.181818
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0,1.180000,1.180000
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3500000.0,3700000.0,1.257143,1.257143
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0,1.100000,1.100000
...,...,...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,4500000.0,5000000.0,1.222222,1.222222
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,5200000.0,7400000.0,1.521346,1.521346
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,1.800000,1.800000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,4000000.0,3900000.0,1.000000,1.000000
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1200000.0,1400000.0,1.145833,1.145833

In [311]:
home_mape['check2']=home_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย2']),axis=1)
home_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check1_2,check2
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0,2700000.0,1.080000,1.080000,1.000000
3,https://nayoo.co/khonkaen/posts/33,2600000.0,2200000.0,2400000.0,1.181818,1.181818,1.083333
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0,1.180000,1.180000,1.525424
7,https://nayoo.co/khonkaen/posts/564,4400000.0,3500000.0,3700000.0,1.257143,1.257143,1.189189
9,https://nayoo.co/khonkaen/posts/566,2750000.0,2500000.0,2500000.0,1.100000,1.100000,1.100000
...,...,...,...,...,...,...,...
185,https://nayoo.co/khonkaen/posts/19495,5500000.0,4500000.0,5000000.0,1.222222,1.222222,1.100000
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,5200000.0,7400000.0,1.521346,1.521346,1.069054
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,1.800000,1.800000,1.250000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,4000000.0,3900000.0,1.000000,1.000000,1.025641
189,https://nayoo.co/khonkaen/posts/570,1375000.0,1200000.0,1400000.0,1.145833,1.145833,1.018182

In [312]:
home_mape.sort_values(by=['check1_2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check1_2,check2
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,1.800000,1.800000,1.250000
75,https://nayoo.co/khonkaen/posts/1,390000.0,600000.0,1300000.0,1.538462,1.538462,3.333333
177,https://nayoo.co/khonkaen/posts/19450,2100000.0,3200000.0,2200000.0,1.523810,1.523810,1.047619
186,https://nayoo.co/khonkaen/posts/19496,7911000.0,5200000.0,7400000.0,1.521346,1.521346,1.069054
101,https://nayoo.co/khonkaen/posts/6010,2860000.0,4200000.0,3000000.0,1.468531,1.468531,1.048951
...,...,...,...,...,...,...,...
167,https://nayoo.co/khonkaen/posts/9141,3500000.0,3500000.0,3600000.0,1.000000,1.000000,1.028571
51,https://nayoo.co/khonkaen/posts/1149,4000000.0,4000000.0,4500000.0,1.000000,1.000000,1.125000
63,https://nayoo.co/khonkaen/posts/2033,1200000.0,1200000.0,1000000.0,1.000000,1.000000,1.200000
188,https://nayoo.co/khonkaen/posts/31,4000000.0,4000000.0,3900000.0,1.000000,1.000000,1.025641
87,https://nayoo.co/khonkaen/posts/3905,1200000.0,1200000.0,1350000.0,1.000000,1.000000,1.125000

In [313]:
home_mape.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check1_2,check2
75,https://nayoo.co/khonkaen/posts/1,390000.0,600000.0,1300000.0,1.538462,1.538462,3.333333
5,https://nayoo.co/khonkaen/posts/495,5900000.0,5000000.0,9000000.0,1.180000,1.180000,1.525424
111,https://nayoo.co/khonkaen/posts/6045,2915000.0,2000000.0,2000000.0,1.457500,1.457500,1.457500
83,https://nayoo.co/khonkaen/posts/3721,3100000.0,3500000.0,4000000.0,1.129032,1.129032,1.290323
187,https://nayoo.co/khonkaen/posts/20,2000000.0,3600000.0,2500000.0,1.800000,1.800000,1.250000
...,...,...,...,...,...,...,...
169,https://nayoo.co/khonkaen/posts/11264,6500000.0,5600000.0,6500000.0,1.160714,1.160714,1.000000
69,https://nayoo.co/khonkaen/posts/2262,3200000.0,3300000.0,3200000.0,1.031250,1.031250,1.000000
57,https://nayoo.co/khonkaen/posts/1895,1200000.0,1500000.0,1200000.0,1.250000,1.250000,1.000000
37,https://nayoo.co/khonkaen/posts/760,1800000.0,1700000.0,1800000.0,1.058824,1.058824,1.000000
1,https://nayoo.co/khonkaen/posts/25,2700000.0,2500000.0,2700000.0,1.080000,1.080000,1.000000

### ที่ดิน

In [314]:
#ที่ดิน
land_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2
0,https://nayoo.co/khonkaen/posts/1033,2800000,1800000.0,2000000.0
3,https://nayoo.co/khonkaen/posts/1711,14900000,8000000.0,12000000.0
6,https://nayoo.co/khonkaen/posts/1726,90000000,18000000.0,70000000.0
9,https://nayoo.co/khonkaen/posts/1732,65000000,35000000.0,60000000.0
12,https://nayoo.co/khonkaen/posts/1866,3000000,2200000.0,2500000.0
...,...,...,...,...
201,https://nayoo.co/khonkaen/posts/14539,5000000,4000000.0,4000000.0
203,https://nayoo.co/khonkaen/posts/16072,750000,500000.0,750000.0
205,https://nayoo.co/khonkaen/posts/17093,2650000,2000000.0,2500000.0
207,https://nayoo.co/khonkaen/posts/17112,1300000,1500000.0,1500000.0
209,https://nayoo.co/khonkaen/posts/17145,3000000,2500000.0,2800000.0

In [315]:
land_mape['check1']=land_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย1']),axis=1)
land_mape['check2']=land_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย2']),axis=1)
land_mape

<ipython-input-315-61f9da694d35>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  land_mape['check1']=land_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย1']),axis=1)
<ipython-input-315-61f9da694d35>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  land_mape['check2']=land_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย2']),axis=1)

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check2
0,https://nayoo.co/khonkaen/posts/1033,2800000,1800000.0,2000000.0,1.555556,1.400000
3,https://nayoo.co/khonkaen/posts/1711,14900000,8000000.0,12000000.0,1.862500,1.241667
6,https://nayoo.co/khonkaen/posts/1726,90000000,18000000.0,70000000.0,5.000000,1.285714
9,https://nayoo.co/khonkaen/posts/1732,65000000,35000000.0,60000000.0,1.857143,1.083333
12,https://nayoo.co/khonkaen/posts/1866,3000000,2200000.0,2500000.0,1.363636,1.200000
...,...,...,...,...,...,...
201,https://nayoo.co/khonkaen/posts/14539,5000000,4000000.0,4000000.0,1.250000,1.250000
203,https://nayoo.co/khonkaen/posts/16072,750000,500000.0,750000.0,1.500000,1.000000
205,https://nayoo.co/khonkaen/posts/17093,2650000,2000000.0,2500000.0,1.325000,1.060000
207,https://nayoo.co/khonkaen/posts/17112,1300000,1500000.0,1500000.0,1.153846,1.153846
209,https://nayoo.co/khonkaen/posts/17145,3000000,2500000.0,2800000.0,1.200000,1.071429

In [316]:
land_mape.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check2
195,https://nayoo.co/khonkaen/posts/13702,90000000,4500000.0,75000000.0,20.000000,1.200000
113,https://nayoo.co/khonkaen/posts/7955,2600000,32000000.0,2000000.0,12.307692,1.300000
59,https://nayoo.co/khonkaen/posts/9203,160000000,14000000.0,11000000.0,11.428571,14.545455
46,https://nayoo.co/khonkaen/posts/7349,245000000,24000000.0,18000000.0,10.208333,13.611111
6,https://nayoo.co/khonkaen/posts/1726,90000000,18000000.0,70000000.0,5.000000,1.285714
...,...,...,...,...,...,...
183,https://nayoo.co/khonkaen/posts/9598,3900000,4000000.0,4000000.0,1.025641,1.025641
79,https://nayoo.co/khonkaen/posts/3447,980000,1000000.0,800000.0,1.020408,1.225000
101,https://nayoo.co/khonkaen/posts/1663,1485000,1500000.0,1200000.0,1.010101,1.237500
123,https://nayoo.co/khonkaen/posts/12762,650000,650000.0,700000.0,1.000000,1.076923
131,https://nayoo.co/khonkaen/posts/1599,2500000,2500000.0,2200000.0,1.000000,1.136364

In [317]:
land_mape.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check2
59,https://nayoo.co/khonkaen/posts/9203,160000000,14000000.0,11000000.0,11.428571,14.545455
46,https://nayoo.co/khonkaen/posts/7349,245000000,24000000.0,18000000.0,10.208333,13.611111
149,https://nayoo.co/khonkaen/posts/3561,7374550,6000000.0,80000000.0,1.229092,10.848120
189,https://nayoo.co/khonkaen/posts/12250,2300000,2500000.0,24000000.0,1.086957,10.434783
145,https://nayoo.co/khonkaen/posts/3341,1700000,1600000.0,9000000.0,1.062500,5.294118
...,...,...,...,...,...,...
105,https://nayoo.co/khonkaen/posts/1921,8080000,2800000.0,8000000.0,2.885714,1.010000
61,https://nayoo.co/khonkaen/posts/12607,7990000,10000000.0,8000000.0,1.251564,1.001252
159,https://nayoo.co/khonkaen/posts/6732,3500000,2800000.0,3500000.0,1.250000,1.000000
203,https://nayoo.co/khonkaen/posts/16072,750000,500000.0,750000.0,1.500000,1.000000
36,https://nayoo.co/khonkaen/posts/3305,14000000,12000000.0,14000000.0,1.166667,1.000000

### ทาวน์โฮม

In [318]:
#ทาวน์โฮม
townhome_mape

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2
0,https://nayoo.co/khonkaen/posts/548,1045000.0,700000.0,1500000.0
2,https://nayoo.co/khonkaen/posts/549,935000.0,700000.0,1500000.0
4,https://nayoo.co/khonkaen/posts/579,3520000.0,3500000.0,4000000.0
6,https://nayoo.co/khonkaen/posts/580,3850000.0,3500000.0,3200000.0
8,https://nayoo.co/khonkaen/posts/582,990000.0,1000000.0,800000.0
...,...,...,...,...
125,https://nayoo.co/khonkaen/posts/18547,1430000.0,1000000.0,1200000.0
126,https://nayoo.co/khonkaen/posts/18551,1980000.0,1500000.0,1700000.0
127,https://nayoo.co/khonkaen/posts/19434,2000000.0,1600000.0,1900000.0
128,https://nayoo.co/khonkaen/posts/19501,1790000.0,1600000.0,1700000.0
129,https://nayoo.co/khonkaen/posts/20367,1590000.0,1700000.0,1700000.0

In [319]:
townhome_mape['check1']=townhome_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย1']),axis=1)
townhome_mape['check2']=townhome_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย2']),axis=1)
townhome_mape

<ipython-input-319-67beff5c830d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  townhome_mape['check1']=townhome_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย1']),axis=1)
<ipython-input-319-67beff5c830d>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  townhome_mape['check2']=townhome_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย2']),axis=1)

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check2
0,https://nayoo.co/khonkaen/posts/548,1045000.0,700000.0,1500000.0,1.492857,1.435407
2,https://nayoo.co/khonkaen/posts/549,935000.0,700000.0,1500000.0,1.335714,1.604278
4,https://nayoo.co/khonkaen/posts/579,3520000.0,3500000.0,4000000.0,1.005714,1.136364
6,https://nayoo.co/khonkaen/posts/580,3850000.0,3500000.0,3200000.0,1.100000,1.203125
8,https://nayoo.co/khonkaen/posts/582,990000.0,1000000.0,800000.0,1.010101,1.237500
...,...,...,...,...,...,...
125,https://nayoo.co/khonkaen/posts/18547,1430000.0,1000000.0,1200000.0,1.430000,1.191667
126,https://nayoo.co/khonkaen/posts/18551,1980000.0,1500000.0,1700000.0,1.320000,1.164706
127,https://nayoo.co/khonkaen/posts/19434,2000000.0,1600000.0,1900000.0,1.250000,1.052632
128,https://nayoo.co/khonkaen/posts/19501,1790000.0,1600000.0,1700000.0,1.118750,1.052941
129,https://nayoo.co/khonkaen/posts/20367,1590000.0,1700000.0,1700000.0,1.069182,1.069182

In [320]:
townhome_mape.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check2
66,https://nayoo.co/khonkaen/posts/3528,2190000.0,350000.0,400000.0,6.257143,5.475000
70,https://nayoo.co/khonkaen/posts/6095,2420000.0,1500000.0,1500000.0,1.613333,1.613333
22,https://nayoo.co/khonkaen/posts/619,1430000.0,950000.0,1000000.0,1.505263,1.430000
0,https://nayoo.co/khonkaen/posts/548,1045000.0,700000.0,1500000.0,1.492857,1.435407
64,https://nayoo.co/khonkaen/posts/3478,2190000.0,1500000.0,2200000.0,1.460000,1.004566
...,...,...,...,...,...,...
118,https://nayoo.co/khonkaen/posts/17923,1990000.0,2000000.0,2200000.0,1.005025,1.105528
57,https://nayoo.co/khonkaen/posts/2829,2490000.0,2500000.0,2300000.0,1.004016,1.082609
110,https://nayoo.co/khonkaen/posts/17545,2800000.0,2800000.0,2800000.0,1.000000,1.000000
90,https://nayoo.co/khonkaen/posts/13411,3200000.0,3200000.0,3200000.0,1.000000,1.000000
93,https://nayoo.co/khonkaen/posts/17503,1500000.0,1500000.0,1300000.0,1.000000,1.153846

In [321]:
townhome_mape.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check2
66,https://nayoo.co/khonkaen/posts/3528,2190000.0,350000.0,400000.0,6.257143,5.475000
124,https://nayoo.co/khonkaen/posts/18090,3000000.0,2800000.0,1500000.0,1.071429,2.000000
70,https://nayoo.co/khonkaen/posts/6095,2420000.0,1500000.0,1500000.0,1.613333,1.613333
2,https://nayoo.co/khonkaen/posts/549,935000.0,700000.0,1500000.0,1.335714,1.604278
115,https://nayoo.co/khonkaen/posts/17742,2500000.0,2200000.0,1700000.0,1.136364,1.470588
...,...,...,...,...,...,...
78,https://nayoo.co/khonkaen/posts/8101,3200000.0,3300000.0,3200000.0,1.031250,1.000000
110,https://nayoo.co/khonkaen/posts/17545,2800000.0,2800000.0,2800000.0,1.000000,1.000000
89,https://nayoo.co/khonkaen/posts/12957,1500000.0,1600000.0,1500000.0,1.066667,1.000000
41,https://nayoo.co/khonkaen/posts/1978,2500000.0,2700000.0,2500000.0,1.080000,1.000000
71,https://nayoo.co/khonkaen/posts/6104,2200000.0,2500000.0,2200000.0,1.136364,1.000000

### อาคารพาณิชย์

In [322]:
#อาคารพาณิชย์
commercial_mape

                                post id  ราคาทรัพย์  ประเมินโดย1  ประเมินโดย2
0     https://nayoo.co/khonkaen/posts/6   7000000.0    6000000.0    8000000.0
2    https://nayoo.co/khonkaen/posts/17  12000000.0   12000000.0   12000000.0
4    https://nayoo.co/khonkaen/posts/21  22500000.0   13500000.0   20000000.0
6    https://nayoo.co/khonkaen/posts/22   3500000.0    4000000.0    4000000.0
8    https://nayoo.co/khonkaen/posts/24   3900000.0    2200000.0    3000000.0
10   https://nayoo.co/khonkaen/posts/30   4800000.0    3600000.0    4000000.0
12   https://nayoo.co/khonkaen/posts/35   2400000.0    2500000.0    2100000.0
14  https://nayoo.co/khonkaen/posts/497   5000000.0    3800000.0    5000000.0
16  https://nayoo.co/khonkaen/posts/498   7000000.0    7000000.0    8000000.0
18  https://nayoo.co/khonkaen/posts/499   9000000.0    8000000.0   10000000.0

In [323]:
commercial_mape['check1']=commercial_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย1']),axis=1)
commercial_mape['check2']=commercial_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย2']),axis=1)
commercial_mape

<ipython-input-323-f827b84391a8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  commercial_mape['check1']=commercial_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย1']),axis=1)
<ipython-input-323-f827b84391a8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  commercial_mape['check2']=commercial_mape.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมินโดย2']),axis=1)

,post id,ราคาทรัพย์,ประเมินโดย1,ประเมินโดย2,check1,check2
0,https://nayoo.co/khonkaen/posts/6,7000000.0,6000000.0,8000000.0,1.166667,1.142857
2,https://nayoo.co/khonkaen/posts/17,12000000.0,12000000.0,12000000.0,1.000000,1.000000
4,https://nayoo.co/khonkaen/posts/21,22500000.0,13500000.0,20000000.0,1.666667,1.125000
6,https://nayoo.co/khonkaen/posts/22,3500000.0,4000000.0,4000000.0,1.142857,1.142857
8,https://nayoo.co/khonkaen/posts/24,3900000.0,2200000.0,3000000.0,1.772727,1.300000
10,https://nayoo.co/khonkaen/posts/30,4800000.0,3600000.0,4000000.0,1.333333,1.200000
12,https://nayoo.co/khonkaen/posts/35,2400000.0,2500000.0,2100000.0,1.041667,1.142857
14,https://nayoo.co/khonkaen/posts/497,5000000.0,3800000.0,5000000.0,1.315789,1.000000
16,https://nayoo.co/khonkaen/posts/498,7000000.0,7000000.0,8000000.0,1.000000,1.142857
18,https://nayoo.co/khonkaen/posts/499,9000000.0,8000000.0,10000000.0,1.125000,1.111111

# HW2 แก้ไข ข้อมูลแล้วคำนวณ MAPE ใหม่อีกรอบมาเทียบกัน
#Load ตารางจาก google sheet

https://towardsdatascience.com/different-ways-to-connect-google-drive-to-a-google-colab-notebook-part-2-b867786aed55

# Load google sheet แบบมาตรฐาน

In [324]:
from google.colab import auth
auth.authenticate_user()

import gspread
from google.auth import default
creds,_ = default()

gc = gspread.authorize(creds)

In [325]:
gsht = gc.open_by_key('1a6NId_-N7tFnAxva721mT0ktVUwaTKoB0BkYvy2S7Ao')

In [326]:
worksheet = gsht.worksheet('home')

rows = worksheet.get_all_values()
home = pd.DataFrame.from_records(rows)

In [327]:
home.columns = home.iloc[0]

In [328]:
home = home.iloc[1:].reset_index().iloc[:,1:]
home

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
0,01,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2500000,"5,000-15,000",,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1,02,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2700000,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน
2,01,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2200000,"5,000-15,000",,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
3,02,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2400000,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
4,01,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,6050000,5000000,"5,000-15,000",,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
...,...,...,...,...,...,...,...,...,...
1215,01,https://nayoo.co/khonkaen/posts/6257,บ้านเดี่ยว,มั่นใจ,295000,500000,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
1216,02,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,500000,ราคาเสนอขาย 3-5 พันบาท/ตารางวา,,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1217,01,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,600000,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1218,02,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,700000,ราคาเสนอขาย 4-5 พันบาท/ตารางวา,,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1219,01,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,750000,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน

In [329]:
import pandas as pd
sheet_id = '1a6NId_-N7tFnAxva721mT0ktVUwaTKoB0BkYvy2S7Ao'
sheet_name = 'home'
url = f'https://docs.google.com/spreadsheets/d/1a6NId_-N7tFnAxva721mT0ktVUwaTKoB0BkYvy2S7Ao/gviz/tq?tqx=out:csv&sheet=home'

In [330]:
pd.read_csv(url)

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,6050000,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,1,https://nayoo.co/khonkaen/posts/6257,บ้านเดี่ยว,มั่นใจ,295000,500000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1216,2,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,500000.0,ราคาเสนอขาย 3-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1217,1,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,600000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1218,2,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,700000.0,ราคาเสนอขาย 4-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1219,1,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,750000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [331]:
sheet_id = '1a6NId_-N7tFnAxva721mT0ktVUwaTKoB0BkYvy2S7Ao'
sheet_name = 'home'
url = f'https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}'

In [332]:
temp = pd.read_csv(url)
temp

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,6050000,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1215,1,https://nayoo.co/khonkaen/posts/6257,บ้านเดี่ยว,มั่นใจ,295000,500000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1216,2,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,500000.0,ราคาเสนอขาย 3-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1217,1,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,600000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1218,2,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,700000.0,ราคาเสนอขาย 4-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1219,1,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,750000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## ค่าMAPEก่อนแก้ไขข้อมูล

### บ้าน

In [333]:
#อ่านข้อมูลจาก google sheet 
link = 'https://docs.google.com/spreadsheets/d/1a6NId_-N7tFnAxva721mT0ktVUwaTKoB0BkYvy2S7Ao/export?format=xlsx'
home = pd.read_excel(link,sheet_name='home')
home

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,6050000,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
...,...,...,...,...,...,...,...,...,...
1215,1,https://nayoo.co/khonkaen/posts/6257,บ้านเดี่ยว,มั่นใจ,295000,500000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
1216,2,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,500000.0,ราคาเสนอขาย 3-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1217,1,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,600000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1218,2,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,700000.0,ราคาเสนอขาย 4-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1219,1,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,750000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน

#### mape

In [334]:
est1_home = home[home['ID ผู้ประเมิน']==1]
est1_home = est1_home.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
est2_home = home [home ['ID ผู้ประเมิน']==2]
est2_home = est2_home.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
est1_home_mape = mean_absolute_percentage_error(est1_home['ราคาทรัพย์'],pd.to_numeric(est1_home['ประเมินราคาซื้อ-ขาย']))
est2_home_mape = mean_absolute_percentage_error(est2_home['ราคาทรัพย์'],pd.to_numeric(est2_home['ประเมินราคาซื้อ-ขาย']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {est1_home_mape*100:.2f}%\nนักประเมิน คนที่ 2 = {est2_home_mape*100:.2f}%')
est2_home['ประเมิน1'] = est2_home['post id'].map(est1_home.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est2_home_new = est2_home.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน1','ราคาทรัพย์'])
est2_home_new = est2_home_new[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','ประเมิน1']]
one2two = mean_absolute_percentage_error(est2_home_new['ประเมินราคาซื้อ-ขาย'],est2_home_new['ประเมิน1'])
two2one = mean_absolute_percentage_error(est2_home_new['ประเมิน1'],est2_home_new['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(est2_home_new)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 12.78%
นักประเมิน คนที่ 2 = 13.87%
ความผิดพลาดระหว่างนักประเมินทั้ง 14.56%
จำนวนทรัพย์ทั้งหมด 498 ทรัพย์

### ที่ดิน

In [335]:
#อ่านข้อมูลจาก google sheet 
link = 'https://docs.google.com/spreadsheets/d/1a6NId_-N7tFnAxva721mT0ktVUwaTKoB0BkYvy2S7Ao/export?format=xlsx'
land = pd.read_excel(link,sheet_name='land')
land

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
0,1,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,1800000.0,"8,000-25,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1,2,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,2000000.0,"ราคาเสนอขาย 7,000-12,0000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
2,4,https://nayoo.co/khonkaen/posts/1033,ที่ดิน,มั่นใจ,2800000,2200000.0,10000-22000,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
3,1,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,8000000.0,"25,000-80,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
4,2,https://nayoo.co/khonkaen/posts/1711,ที่ดิน,มั่นใจ,14900000,12000000.0,"ราคาเสนอขาย 100,000-150,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
...,...,...,...,...,...,...,...,...,...
205,1,https://nayoo.co/khonkaen/posts/17093,ที่ดิน,มั่นใจ,2650000,2000000.0,"500-15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
206,2,https://nayoo.co/khonkaen/posts/17112,ที่ดิน,มั่นใจ,1300000,1500000.0,"ราคาเสนอขาย 3,000 - 5,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
207,1,https://nayoo.co/khonkaen/posts/17112,ที่ดิน,มั่นใจ,1300000,1500000.0,"500-25,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
208,2,https://nayoo.co/khonkaen/posts/17145,ที่ดิน,มั่นใจ,3000000,2800000.0,"ราคาเสนอขาย 10,000 - 15,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
209,1,https://nayoo.co/khonkaen/posts/17145,ที่ดิน,มั่นใจ,3000000,2500000.0,"1,000-25,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน

#### mape

In [336]:
est1_land = land[land['ID ผู้ประเมิน']==1]
est1_land = est1_land.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
est2_land = land[land['ID ผู้ประเมิน']==2]
est2_land = est2_land.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
est1_land_mape = mean_absolute_percentage_error(est1_land['ราคาทรัพย์'],pd.to_numeric(est1_land['ประเมินราคาซื้อ-ขาย']))
est2_land_mape = mean_absolute_percentage_error(est2_land['ราคาทรัพย์'],pd.to_numeric(est2_land['ประเมินราคาซื้อ-ขาย']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nที่ดิน\nนักประเมิน คนที่ 1 = {est1_land_mape*100:.2f}%\nนักประเมิน คนที่ 2 = {est2_land_mape*100:.2f}%')
est2_land['ประเมิน1'] = est2_land['post id'].map(est1_land.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est2_land_new = est2_land.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน1','ราคาทรัพย์'])
est2_land_new = est2_land_new[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','ประเมิน1']]
one2two = mean_absolute_percentage_error(est2_land_new['ประเมินราคาซื้อ-ขาย'],est2_land_new['ประเมิน1'])
two2one = mean_absolute_percentage_error(est2_land_new['ประเมิน1'],est2_land_new['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(est2_land_new)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
ที่ดิน
นักประเมิน คนที่ 1 = 40.83%
นักประเมิน คนที่ 2 = 39.56%
ความผิดพลาดระหว่างนักประเมินทั้ง 58.41%
จำนวนทรัพย์ทั้งหมด 100 ทรัพย์

### คอนโด

In [337]:
#อ่านข้อมูลจาก google sheet 
link = 'https://docs.google.com/spreadsheets/d/1a6NId_-N7tFnAxva721mT0ktVUwaTKoB0BkYvy2S7Ao/export?format=xlsx'
condo = pd.read_excel(link,sheet_name='condo')
condo

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10
0,1,32.0,คอนโด,มั่นใจ,3500000,3500000.0,"60,000-130,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
1,1,36.0,คอนโด,มั่นใจ,1930000,2200000.0,"50,000-90,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
2,1,603.0,คอนโด,มั่นใจ,2438000,2800000.0,"35,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
3,1,1395.0,คอนโด,มั่นใจ,1600000,2300000.0,"30,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
4,1,1443.0,คอนโด,มั่นใจ,1860000,1800000.0,"30,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
5,1,1609.0,คอนโด,มั่นใจ,1490000,1500000.0,"30,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
6,1,1640.0,คอนโด,มั่นใจ,1280000,1600000.0,"30,000-70,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
7,1,1641.0,คอนโด,มั่นใจ,4290000,2700000.0,"60,000-130,000 บาท/ตารางเมตร",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,3.0,ขายได้ ใช้ระยะเวลา 7-12 เดือน
8,1,1650.0,คอนโด,มั่นใจ,1700000,1550000.0,"30,000-70,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
9,1,1840.0,คอนโด,มั่นใจ,3790000,2800000.0,"30,000-80,000 บาท/ตารางเมตร",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,4.0,ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี

#### mape

In [338]:
est1_condo = condo[condo['ID ผู้ประเมิน']==1]
est1_condo = est1_condo.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
est1_condo_new = est1_condo[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย']]
est1_condo_mape = mean_absolute_percentage_error(est1_condo_new['ราคาทรัพย์'],pd.to_numeric(est1_condo_new['ประเมินราคาซื้อ-ขาย']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nคอนโด\nนักประเมิน คนที่ 1 = {est1_condo_mape*100:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(est1_condo_new)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
คอนโด
นักประเมิน คนที่ 1 = 17.35%
จำนวนทรัพย์ทั้งหมด 10 ทรัพย์

### ทาวน์โฮม

In [339]:
#อ่านข้อมูลจาก google sheet 
link = 'https://docs.google.com/spreadsheets/d/1a6NId_-N7tFnAxva721mT0ktVUwaTKoB0BkYvy2S7Ao/export?format=xlsx'
townhome = pd.read_excel(link,sheet_name='townhome')
townhome

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,1,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,120.0
1,2,https://nayoo.co/khonkaen/posts/548,ทาวน์โฮม,มั่นใจ,1045000,1500000.0,ราคาซื้อขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
2,1,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000,700000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี,NaN,NaN,NaN,NaN
3,2,https://nayoo.co/khonkaen/posts/549,ทาวน์โฮม,มั่นใจ,935000,1500000.0,ราคาเสนอขาย 1-2 ล้าน/คูหา,NaN,1 ขายไม่ได้แน่นอน,NaN,NaN,NaN,NaN
4,1,https://nayoo.co/khonkaen/posts/579,ทาวน์โฮม,มั่นใจ,2520000,3500000.0,"8,000-80,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,2,https://nayoo.co/khonkaen/posts/18547,ทาวน์โฮม,มั่นใจ,1105000,1200000.0,ราคาเสนอขาย1.2-1.5ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
236,2,https://nayoo.co/khonkaen/posts/18551,ทาวน์โฮม,มั่นใจ,1440000,1700000.0,ราคาเสนอขาย 1.7-2.0ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
237,2,https://nayoo.co/khonkaen/posts/19434,ทาวน์โฮม,มั่นใจ,2000000,1900000.0,ราคาเสนอขาย 1.8-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
238,2,https://nayoo.co/khonkaen/posts/19501,ทาวน์โฮม,มั่นใจ,1790000,1700000.0,ราคาเสนอขาย 1.7-1.9 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN
239,2,https://nayoo.co/khonkaen/posts/20367,ทาวน์โฮม,มั่นใจ,1590000,1700000.0,ราคาเสนอขาย 1.7-2.0 ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน,NaN,NaN,NaN,NaN

#### mape

In [340]:
est1_townhome = townhome[townhome['ID ผู้ประเมิน']==1]
est1_townhome = est1_townhome.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
est2_townhome = townhome[townhome['ID ผู้ประเมิน']==2]
est2_townhome = est2_townhome.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
est1_townhome_mape = mean_absolute_percentage_error(est1_townhome['ราคาทรัพย์'],pd.to_numeric(est1_townhome['ประเมินราคาซื้อ-ขาย']))
est2_townhome_mape = mean_absolute_percentage_error(est2_townhome['ราคาทรัพย์'],pd.to_numeric(est2_townhome['ประเมินราคาซื้อ-ขาย']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nทาวน์โฮม\nนักประเมิน คนที่ 1 = {est1_townhome_mape*100:.2f}%\nนักประเมิน คนที่ 2 = {est2_townhome_mape*100:.2f}%')
est2_townhome['ประเมิน1'] = est2_townhome['post id'].map(est1_townhome.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est2_townhome_new = est2_townhome.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน1','ราคาทรัพย์'])
est2_townhome_new = est2_townhome_new[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','ประเมิน1']]
one2two = mean_absolute_percentage_error(est2_townhome_new['ประเมินราคาซื้อ-ขาย'],est2_townhome_new['ประเมิน1'])
two2one = mean_absolute_percentage_error(est2_townhome_new['ประเมิน1'],est2_townhome_new['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(est2_townhome_new)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
ทาวน์โฮม
นักประเมิน คนที่ 1 = 11.57%
นักประเมิน คนที่ 2 = 9.26%
ความผิดพลาดระหว่างนักประเมินทั้ง 10.92%
จำนวนทรัพย์ทั้งหมด 120 ทรัพย์

### อาคารพาณิชย์

In [341]:
#อ่านข้อมูลจาก google sheet 
link = 'https://docs.google.com/spreadsheets/d/1a6NId_-N7tFnAxva721mT0ktVUwaTKoB0BkYvy2S7Ao/export?format=xlsx'
commercial = pd.read_excel(link,sheet_name='commercial')
commercial

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
0,1,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,6600000,6000000.0,"8,000-30,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1,2,https://nayoo.co/khonkaen/posts/6,อาคารพาณิชย์/สำนักงาน,มั่นใจ,6600000,8000000.0,"ราคาเสนอขาย 4,000,000-6,000,000 บาท/คูหา",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน
2,1,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,11400000,12000000.0,"8,000-40,000",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน
3,2,https://nayoo.co/khonkaen/posts/17,อาคารพาณิชย์/สำนักงาน,มั่นใจ,11400000,12000000.0,ราคาเสนอขาย 4 - 5 ล้านบาท/คูหา,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
4,1,https://nayoo.co/khonkaen/posts/21,อาคารพาณิชย์/สำนักงาน,มั่นใจ,22500000,13500000.0,"8,000-50,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
...,...,...,...,...,...,...,...,...,...
195,2,https://nayoo.co/khonkaen/posts/7439,อาคารพาณิชย์/สำนักงาน,ไม่มั่นใจ,6900000,NaN,NaN,ไม่มีฐานข้อมูลบริเวณนี้,NaN
196,1,https://nayoo.co/khonkaen/posts/7668,อาคารพาณิชย์/สำนักงาน,มั่นใจ,12000000,1500000.0,"3,000-120,000 บาท/ตารางวา",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
197,2,https://nayoo.co/khonkaen/posts/7668,อาคารพาณิชย์/สำนักงาน,ไม่มั่นใจ,12000000,NaN,NaN,ไม่มีฐานข้อมูล,NaN
198,1,https://nayoo.co/khonkaen/posts/7705,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2200000,2500000.0,"3,000-80,000 บาท/ตารางวา",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
199,2,https://nayoo.co/khonkaen/posts/7705,อาคารพาณิชย์/สำนักงาน,มั่นใจ,2200000,2000000.0,ราคาเสนอขาย 2.0-2.2ล้านบาท/คูหา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน

#### mape

In [342]:
est1_commercial = commercial[commercial['ID ผู้ประเมิน']==1]
est1_commercial = est1_commercial.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
est2_commercial = commercial[commercial['ID ผู้ประเมิน']==2]
est2_commercial = est2_commercial.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
est1_commercial_mape = mean_absolute_percentage_error(est1_commercial['ราคาทรัพย์'],pd.to_numeric(est1_commercial['ประเมินราคาซื้อ-ขาย']))
est2_commercial_mape = mean_absolute_percentage_error(est2_commercial['ราคาทรัพย์'],pd.to_numeric(est2_commercial['ประเมินราคาซื้อ-ขาย']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nอาคารพาณิชย์\nนักประเมิน คนที่ 1 = {est1_commercial_mape*100:.2f}%\nนักประเมิน คนที่ 2 = {est2_commercial_mape*100:.2f}%')
est2_commercial['ประเมิน1'] = est2_commercial['post id'].map(est1_commercial.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est2_commercial_new = est2_commercial.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน1','ราคาทรัพย์'])
est2_commercial_new = est2_commercial_new[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','ประเมิน1']]
one2two = mean_absolute_percentage_error(est2_commercial_new['ประเมินราคาซื้อ-ขาย'],est2_commercial_new['ประเมิน1'])
two2one = mean_absolute_percentage_error(est2_commercial_new['ประเมิน1'],est2_commercial_new['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(est2_commercial_new)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
อาคารพาณิชย์
นักประเมิน คนที่ 1 = 13.23%
นักประเมิน คนที่ 2 = 11.42%
ความผิดพลาดระหว่างนักประเมินทั้ง 12.53%
จำนวนทรัพย์ทั้งหมด 91 ทรัพย์

In [343]:
est2_commercial_new

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1
1,https://nayoo.co/khonkaen/posts/6,6600000,8000000.0,6000000.0
3,https://nayoo.co/khonkaen/posts/17,11400000,12000000.0,12000000.0
5,https://nayoo.co/khonkaen/posts/21,22500000,20000000.0,13500000.0
7,https://nayoo.co/khonkaen/posts/22,3500000,4000000.0,4000000.0
9,https://nayoo.co/khonkaen/posts/24,3900000,3000000.0,2200000.0
...,...,...,...,...
183,https://nayoo.co/khonkaen/posts/6168,2652000,2700000.0,3000000.0
185,https://nayoo.co/khonkaen/posts/6169,3851000,4000000.0,3800000.0
187,https://nayoo.co/khonkaen/posts/6176,3410000,3500000.0,3200000.0
191,https://nayoo.co/khonkaen/posts/7137,3900000,4000000.0,3600000.0
199,https://nayoo.co/khonkaen/posts/7705,2200000,2000000.0,2500000.0

## ตรวจสอบค่าที่เติม 0 ผิด

### บ้าน

In [344]:
#est2_home_new.rename(columns={'ประเมินราคาซื้อ-ขาย': 'ประเมิน2'}, inplace=True)

In [345]:
est2_home_new

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1
1,https://nayoo.co/khonkaen/posts/25,2890000,2700000.0,2500000.0
3,https://nayoo.co/khonkaen/posts/33,2600000,2400000.0,2200000.0
5,https://nayoo.co/khonkaen/posts/495,6050000,9000000.0,5000000.0
7,https://nayoo.co/khonkaen/posts/564,4400000,3700000.0,3500000.0
9,https://nayoo.co/khonkaen/posts/566,2750000,2500000.0,2500000.0
...,...,...,...,...
1210,https://nayoo.co/khonkaen/posts/6255,260000,300000.0,550000.0
1212,https://nayoo.co/khonkaen/posts/6256,610000,500000.0,700000.0
1214,https://nayoo.co/khonkaen/posts/6257,295000,300000.0,500000.0
1216,https://nayoo.co/khonkaen/posts/6258,615000,500000.0,600000.0
1218,https://nayoo.co/khonkaen/posts/6260,620000,700000.0,750000.0

In [346]:
def check_v(in1,in2):
    return max(in1/in2,in2/in1)
#est2_home_new['check2']=est2_home_new.apply(lambda x:check_v(x['ราคาทรัพย์'],x['ประเมิน1']),axis=1)

In [347]:
check1 = list()
for row in est2_home_new.iterrows():
     check1.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
check2 = list()
for row in est2_home_new.iterrows():
     check2.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมินราคาซื้อ-ขาย']))

In [348]:
est2_home_new['check1'] = check1
est2_home_new['check2'] = check2
est2_home_new

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1,check1,check2
1,https://nayoo.co/khonkaen/posts/25,2890000,2700000.0,2500000.0,1.156000,1.070370
3,https://nayoo.co/khonkaen/posts/33,2600000,2400000.0,2200000.0,1.181818,1.083333
5,https://nayoo.co/khonkaen/posts/495,6050000,9000000.0,5000000.0,1.210000,1.487603
7,https://nayoo.co/khonkaen/posts/564,4400000,3700000.0,3500000.0,1.257143,1.189189
9,https://nayoo.co/khonkaen/posts/566,2750000,2500000.0,2500000.0,1.100000,1.100000
...,...,...,...,...,...,...
1210,https://nayoo.co/khonkaen/posts/6255,260000,300000.0,550000.0,2.115385,1.153846
1212,https://nayoo.co/khonkaen/posts/6256,610000,500000.0,700000.0,1.147541,1.220000
1214,https://nayoo.co/khonkaen/posts/6257,295000,300000.0,500000.0,1.694915,1.016949
1216,https://nayoo.co/khonkaen/posts/6258,615000,500000.0,600000.0,1.025000,1.230000
1218,https://nayoo.co/khonkaen/posts/6260,620000,700000.0,750000.0,1.209677,1.129032

In [349]:
est2_home_new.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1,check1,check2
802,https://nayoo.co/khonkaen/posts/3208,23900000,2200000.0,2300000.0,10.391304,10.863636
1070,https://nayoo.co/khonkaen/posts/6037,1450000,3000000.0,3500000.0,2.413793,2.068966
228,https://nayoo.co/khonkaen/posts/525,1933000,2200000.0,830000.0,2.328916,1.138127
1210,https://nayoo.co/khonkaen/posts/6255,260000,300000.0,550000.0,2.115385,1.153846
767,https://nayoo.co/khonkaen/posts/2321,465000,400000.0,900000.0,1.935484,1.162500
...,...,...,...,...,...,...
266,https://nayoo.co/khonkaen/posts/585,3300000,3500000.0,3300000.0,1.000000,1.060606
63,https://nayoo.co/khonkaen/posts/2033,1200000,1000000.0,1200000.0,1.000000,1.200000
652,https://nayoo.co/khonkaen/posts/2256,2000000,2200000.0,2000000.0,1.000000,1.100000
43,https://nayoo.co/khonkaen/posts/1128,4200000,5000000.0,4200000.0,1.000000,1.190476
928,https://nayoo.co/khonkaen/posts/3819,2500000,2900000.0,2500000.0,1.000000,1.160000

In [350]:
est2_home_new.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1,check1,check2
802,https://nayoo.co/khonkaen/posts/3208,23900000,2200000.0,2300000.0,10.391304,10.863636
544,https://nayoo.co/khonkaen/posts/1619,2850000,29000000.0,2500000.0,1.140000,10.175439
292,https://nayoo.co/khonkaen/posts/622,8019000,80000000.0,7900000.0,1.015063,9.976306
75,https://nayoo.co/khonkaen/posts/1,390000,1300000.0,600000.0,1.538462,3.333333
1070,https://nayoo.co/khonkaen/posts/6037,1450000,3000000.0,3500000.0,2.413793,2.068966
...,...,...,...,...,...,...
806,https://nayoo.co/khonkaen/posts/3210,2390000,2390000.0,2500000.0,1.046025,1.000000
169,https://nayoo.co/khonkaen/posts/11264,6500000,6500000.0,5600000.0,1.160714,1.000000
763,https://nayoo.co/khonkaen/posts/2319,1200000,1200000.0,1200000.0,1.000000,1.000000
1149,https://nayoo.co/khonkaen/posts/6096,2200000,2200000.0,2200000.0,1.000000,1.000000
564,https://nayoo.co/khonkaen/posts/1834,1700000,1700000.0,1500000.0,1.133333,1.000000

In [351]:
#est2_home_new.drop(est2_home_new[(est2_home_new['check1'] >8) & (est2_home_new['check2'] >8 )].index, inplace=True)

### ที่ดิน

In [352]:
est2_land_new

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1
1,https://nayoo.co/khonkaen/posts/1033,2800000,2000000.0,1800000.0
4,https://nayoo.co/khonkaen/posts/1711,14900000,12000000.0,8000000.0
7,https://nayoo.co/khonkaen/posts/1726,90000000,70000000.0,18000000.0
10,https://nayoo.co/khonkaen/posts/1732,65000000,60000000.0,35000000.0
13,https://nayoo.co/khonkaen/posts/1866,3000000,2500000.0,2200000.0
...,...,...,...,...
200,https://nayoo.co/khonkaen/posts/14539,5000000,4000000.0,4000000.0
202,https://nayoo.co/khonkaen/posts/16072,750000,750000.0,500000.0
204,https://nayoo.co/khonkaen/posts/17093,2650000,2500000.0,2000000.0
206,https://nayoo.co/khonkaen/posts/17112,1300000,1500000.0,1500000.0
208,https://nayoo.co/khonkaen/posts/17145,3000000,2800000.0,2500000.0

In [353]:
check1 = list()
for row in est2_land_new.iterrows():
     check1.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
check2 = list()
for row in est2_land_new.iterrows():
     check2.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมินราคาซื้อ-ขาย']))

In [354]:
est2_land_new['check1'] = check1
est2_land_new['check2'] = check2
est2_land_new

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1,check1,check2
1,https://nayoo.co/khonkaen/posts/1033,2800000,2000000.0,1800000.0,1.555556,1.400000
4,https://nayoo.co/khonkaen/posts/1711,14900000,12000000.0,8000000.0,1.862500,1.241667
7,https://nayoo.co/khonkaen/posts/1726,90000000,70000000.0,18000000.0,5.000000,1.285714
10,https://nayoo.co/khonkaen/posts/1732,65000000,60000000.0,35000000.0,1.857143,1.083333
13,https://nayoo.co/khonkaen/posts/1866,3000000,2500000.0,2200000.0,1.363636,1.200000
...,...,...,...,...,...,...
200,https://nayoo.co/khonkaen/posts/14539,5000000,4000000.0,4000000.0,1.250000,1.250000
202,https://nayoo.co/khonkaen/posts/16072,750000,750000.0,500000.0,1.500000,1.000000
204,https://nayoo.co/khonkaen/posts/17093,2650000,2500000.0,2000000.0,1.325000,1.060000
206,https://nayoo.co/khonkaen/posts/17112,1300000,1500000.0,1500000.0,1.153846,1.153846
208,https://nayoo.co/khonkaen/posts/17145,3000000,2800000.0,2500000.0,1.200000,1.071429

In [355]:
est2_land_new.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1,check1,check2
194,https://nayoo.co/khonkaen/posts/13702,90000000,75000000.0,4500000.0,20.000000,1.200000
112,https://nayoo.co/khonkaen/posts/7955,2600000,2000000.0,32000000.0,12.307692,1.300000
47,https://nayoo.co/khonkaen/posts/7349,245000000,18000000.0,24000000.0,10.208333,13.611111
58,https://nayoo.co/khonkaen/posts/9203,120000000,11000000.0,14000000.0,8.571429,10.909091
7,https://nayoo.co/khonkaen/posts/1726,90000000,70000000.0,18000000.0,5.000000,1.285714
...,...,...,...,...,...,...
182,https://nayoo.co/khonkaen/posts/9598,3900000,4000000.0,4000000.0,1.025641,1.025641
78,https://nayoo.co/khonkaen/posts/3447,980000,800000.0,1000000.0,1.020408,1.225000
100,https://nayoo.co/khonkaen/posts/1663,1485000,1200000.0,1500000.0,1.010101,1.237500
122,https://nayoo.co/khonkaen/posts/12762,650000,700000.0,650000.0,1.000000,1.076923
130,https://nayoo.co/khonkaen/posts/1599,2500000,2200000.0,2500000.0,1.000000,1.136364

In [356]:
est2_land_new.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1,check1,check2
47,https://nayoo.co/khonkaen/posts/7349,245000000,18000000.0,24000000.0,10.208333,13.611111
58,https://nayoo.co/khonkaen/posts/9203,120000000,11000000.0,14000000.0,8.571429,10.909091
148,https://nayoo.co/khonkaen/posts/3561,7374550,80000000.0,6000000.0,1.229092,10.848120
188,https://nayoo.co/khonkaen/posts/12250,2300000,24000000.0,2500000.0,1.086957,10.434783
144,https://nayoo.co/khonkaen/posts/3341,1700000,9000000.0,1600000.0,1.062500,5.294118
...,...,...,...,...,...,...
104,https://nayoo.co/khonkaen/posts/1921,8080000,8000000.0,2800000.0,2.885714,1.010000
60,https://nayoo.co/khonkaen/posts/12607,7990000,8000000.0,10000000.0,1.251564,1.001252
202,https://nayoo.co/khonkaen/posts/16072,750000,750000.0,500000.0,1.500000,1.000000
158,https://nayoo.co/khonkaen/posts/6732,3500000,3500000.0,2800000.0,1.250000,1.000000
37,https://nayoo.co/khonkaen/posts/3305,14000000,14000000.0,12000000.0,1.166667,1.000000

In [357]:
#est2_land_new.drop(est2_land_new[(est2_land_new['check1'] >8) & (est2_land_new['check2'] >8 )].index, inplace=True)

### คอนโด

In [358]:
est1_condo_new

   post id  ราคาทรัพย์  ประเมินราคาซื้อ-ขาย
0     32.0     3500000            3500000.0
1     36.0     1930000            2200000.0
2    603.0     2438000            2800000.0
3   1395.0     1600000            2300000.0
4   1443.0     1860000            1800000.0
5   1609.0     1490000            1500000.0
6   1640.0     1280000            1600000.0
7   1641.0     4290000            2700000.0
8   1650.0     1700000            1550000.0
9   1840.0     3790000            2800000.0

In [359]:
check1 = list()
for row in est1_condo_new.iterrows():
     check1.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมินราคาซื้อ-ขาย']))

In [360]:
est1_condo_new['check1'] = check1
est1_condo_new

<ipython-input-360-dc039dd109c0>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  est1_condo_new['check1'] = check1

   post id  ราคาทรัพย์  ประเมินราคาซื้อ-ขาย    check1
0     32.0     3500000            3500000.0  1.000000
1     36.0     1930000            2200000.0  1.139896
2    603.0     2438000            2800000.0  1.148482
3   1395.0     1600000            2300000.0  1.437500
4   1443.0     1860000            1800000.0  1.033333
5   1609.0     1490000            1500000.0  1.006711
6   1640.0     1280000            1600000.0  1.250000
7   1641.0     4290000            2700000.0  1.588889
8   1650.0     1700000            1550000.0  1.096774
9   1840.0     3790000            2800000.0  1.353571

### ทาวน์โฮม

In [361]:
est2_townhome_new

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1
1,https://nayoo.co/khonkaen/posts/548,1045000,1500000.0,700000.0
3,https://nayoo.co/khonkaen/posts/549,935000,1500000.0,700000.0
5,https://nayoo.co/khonkaen/posts/579,2520000,4000000.0,3500000.0
7,https://nayoo.co/khonkaen/posts/580,3850000,3200000.0,3500000.0
9,https://nayoo.co/khonkaen/posts/582,544000,800000.0,1000000.0
...,...,...,...,...
235,https://nayoo.co/khonkaen/posts/18547,1105000,1200000.0,1000000.0
236,https://nayoo.co/khonkaen/posts/18551,1440000,1700000.0,1500000.0
237,https://nayoo.co/khonkaen/posts/19434,2000000,1900000.0,1600000.0
238,https://nayoo.co/khonkaen/posts/19501,1790000,1700000.0,1600000.0
239,https://nayoo.co/khonkaen/posts/20367,1590000,1700000.0,1700000.0

In [362]:
check1 = list()
for row in est2_townhome_new.iterrows():
     check1.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
check2 = list()
for row in est2_townhome_new.iterrows():
     check2.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมินราคาซื้อ-ขาย']))

In [363]:
est2_townhome_new['check1'] = check1
est2_townhome_new['check2'] = check2
est2_townhome_new

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1,check1,check2
1,https://nayoo.co/khonkaen/posts/548,1045000,1500000.0,700000.0,1.492857,1.435407
3,https://nayoo.co/khonkaen/posts/549,935000,1500000.0,700000.0,1.335714,1.604278
5,https://nayoo.co/khonkaen/posts/579,2520000,4000000.0,3500000.0,1.388889,1.587302
7,https://nayoo.co/khonkaen/posts/580,3850000,3200000.0,3500000.0,1.100000,1.203125
9,https://nayoo.co/khonkaen/posts/582,544000,800000.0,1000000.0,1.838235,1.470588
...,...,...,...,...,...,...
235,https://nayoo.co/khonkaen/posts/18547,1105000,1200000.0,1000000.0,1.105000,1.085973
236,https://nayoo.co/khonkaen/posts/18551,1440000,1700000.0,1500000.0,1.041667,1.180556
237,https://nayoo.co/khonkaen/posts/19434,2000000,1900000.0,1600000.0,1.250000,1.052632
238,https://nayoo.co/khonkaen/posts/19501,1790000,1700000.0,1600000.0,1.118750,1.052941
239,https://nayoo.co/khonkaen/posts/20367,1590000,1700000.0,1700000.0,1.069182,1.069182

In [364]:
est2_townhome_new.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1,check1,check2
176,https://nayoo.co/khonkaen/posts/3528,2190000,400000.0,350000.0,6.257143,5.475000
9,https://nayoo.co/khonkaen/posts/582,544000,800000.0,1000000.0,1.838235,1.470588
206,https://nayoo.co/khonkaen/posts/17507,1085000,700000.0,650000.0,1.669231,1.550000
216,https://nayoo.co/khonkaen/posts/17535,840000,1000000.0,1300000.0,1.547619,1.190476
1,https://nayoo.co/khonkaen/posts/548,1045000,1500000.0,700000.0,1.492857,1.435407
...,...,...,...,...,...,...
162,https://nayoo.co/khonkaen/posts/2242,1610000,1600000.0,1600000.0,1.006250,1.006250
228,https://nayoo.co/khonkaen/posts/17923,1990000,2200000.0,2000000.0,1.005025,1.105528
167,https://nayoo.co/khonkaen/posts/2829,2490000,2300000.0,2500000.0,1.004016,1.082609
200,https://nayoo.co/khonkaen/posts/13411,3200000,3200000.0,3200000.0,1.000000,1.000000
203,https://nayoo.co/khonkaen/posts/17503,1500000,1300000.0,1500000.0,1.000000,1.153846

In [365]:
est2_townhome_new.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1,check1,check2
176,https://nayoo.co/khonkaen/posts/3528,2190000,400000.0,350000.0,6.257143,5.475000
234,https://nayoo.co/khonkaen/posts/18090,2850000,1500000.0,2800000.0,1.017857,1.900000
3,https://nayoo.co/khonkaen/posts/549,935000,1500000.0,700000.0,1.335714,1.604278
5,https://nayoo.co/khonkaen/posts/579,2520000,4000000.0,3500000.0,1.388889,1.587302
206,https://nayoo.co/khonkaen/posts/17507,1085000,700000.0,650000.0,1.669231,1.550000
...,...,...,...,...,...,...
202,https://nayoo.co/khonkaen/posts/15111,2200000,2200000.0,2500000.0,1.136364,1.000000
209,https://nayoo.co/khonkaen/posts/17511,1700000,1700000.0,1500000.0,1.133333,1.000000
212,https://nayoo.co/khonkaen/posts/17516,1800000,1800000.0,1700000.0,1.058824,1.000000
213,https://nayoo.co/khonkaen/posts/17518,1200000,1200000.0,1100000.0,1.090909,1.000000
152,https://nayoo.co/khonkaen/posts/2011,1100000,1100000.0,900000.0,1.222222,1.000000

### อาคารพาณิชย์

In [366]:
est2_commercial_new

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1
1,https://nayoo.co/khonkaen/posts/6,6600000,8000000.0,6000000.0
3,https://nayoo.co/khonkaen/posts/17,11400000,12000000.0,12000000.0
5,https://nayoo.co/khonkaen/posts/21,22500000,20000000.0,13500000.0
7,https://nayoo.co/khonkaen/posts/22,3500000,4000000.0,4000000.0
9,https://nayoo.co/khonkaen/posts/24,3900000,3000000.0,2200000.0
...,...,...,...,...
183,https://nayoo.co/khonkaen/posts/6168,2652000,2700000.0,3000000.0
185,https://nayoo.co/khonkaen/posts/6169,3851000,4000000.0,3800000.0
187,https://nayoo.co/khonkaen/posts/6176,3410000,3500000.0,3200000.0
191,https://nayoo.co/khonkaen/posts/7137,3900000,4000000.0,3600000.0
199,https://nayoo.co/khonkaen/posts/7705,2200000,2000000.0,2500000.0

In [367]:
check1 = list()
for row in est2_commercial_new.iterrows():
     check1.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมิน1']))
check2 = list()
for row in est2_commercial_new.iterrows():
     check2.append(check_v(row[1]['ราคาทรัพย์'],row[1]['ประเมินราคาซื้อ-ขาย']))

In [368]:
est2_commercial_new['check1'] = check1
est2_commercial_new['check2'] = check2
est2_commercial_new

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1,check1,check2
1,https://nayoo.co/khonkaen/posts/6,6600000,8000000.0,6000000.0,1.100000,1.212121
3,https://nayoo.co/khonkaen/posts/17,11400000,12000000.0,12000000.0,1.052632,1.052632
5,https://nayoo.co/khonkaen/posts/21,22500000,20000000.0,13500000.0,1.666667,1.125000
7,https://nayoo.co/khonkaen/posts/22,3500000,4000000.0,4000000.0,1.142857,1.142857
9,https://nayoo.co/khonkaen/posts/24,3900000,3000000.0,2200000.0,1.772727,1.300000
...,...,...,...,...,...,...
183,https://nayoo.co/khonkaen/posts/6168,2652000,2700000.0,3000000.0,1.131222,1.018100
185,https://nayoo.co/khonkaen/posts/6169,3851000,4000000.0,3800000.0,1.013421,1.038691
187,https://nayoo.co/khonkaen/posts/6176,3410000,3500000.0,3200000.0,1.065625,1.026393
191,https://nayoo.co/khonkaen/posts/7137,3900000,4000000.0,3600000.0,1.083333,1.025641
199,https://nayoo.co/khonkaen/posts/7705,2200000,2000000.0,2500000.0,1.136364,1.100000

In [369]:
est2_commercial_new.sort_values(by=['check1'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1,check1,check2
9,https://nayoo.co/khonkaen/posts/24,3900000,3000000.0,2200000.0,1.772727,1.300000
5,https://nayoo.co/khonkaen/posts/21,22500000,20000000.0,13500000.0,1.666667,1.125000
169,https://nayoo.co/khonkaen/posts/6043,2240000,3000000.0,3500000.0,1.562500,1.339286
87,https://nayoo.co/khonkaen/posts/707,1450000,3200000.0,2200000.0,1.517241,2.206897
81,https://nayoo.co/khonkaen/posts/701,1925000,2000000.0,2700000.0,1.402597,1.038961
...,...,...,...,...,...,...
61,https://nayoo.co/khonkaen/posts/643,4180000,4200000.0,4200000.0,1.004785,1.004785
65,https://nayoo.co/khonkaen/posts/651,2200000,2000000.0,2200000.0,1.000000,1.100000
161,https://nayoo.co/khonkaen/posts/5995,3000000,6000000.0,3000000.0,1.000000,2.000000
177,https://nayoo.co/khonkaen/posts/6123,2200000,2200000.0,2200000.0,1.000000,1.000000
17,https://nayoo.co/khonkaen/posts/498,7000000,8000000.0,7000000.0,1.000000,1.142857

In [370]:
est2_commercial_new.sort_values(by=['check2'],ascending=False)

,post id,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ประเมิน1,check1,check2
163,https://nayoo.co/khonkaen/posts/6009,2250000,5000000.0,2700000.0,1.200000,2.222222
87,https://nayoo.co/khonkaen/posts/707,1450000,3200000.0,2200000.0,1.517241,2.206897
161,https://nayoo.co/khonkaen/posts/5995,3000000,6000000.0,3000000.0,1.000000,2.000000
49,https://nayoo.co/khonkaen/posts/602,2520000,3500000.0,3300000.0,1.309524,1.388889
169,https://nayoo.co/khonkaen/posts/6043,2240000,3000000.0,3500000.0,1.562500,1.339286
...,...,...,...,...,...,...
121,https://nayoo.co/khonkaen/posts/2180,5000000,5000000.0,4000000.0,1.250000,1.000000
109,https://nayoo.co/khonkaen/posts/1885,3500000,3500000.0,3400000.0,1.029412,1.000000
107,https://nayoo.co/khonkaen/posts/1858,1500000,1500000.0,2000000.0,1.333333,1.000000
101,https://nayoo.co/khonkaen/posts/1614,2500000,2500000.0,2700000.0,1.080000,1.000000
127,https://nayoo.co/khonkaen/posts/2247,1900000,1900000.0,2500000.0,1.315789,1.000000

##  ค่าMAPEหลังจากแก้ไขข้อมูล

### บ้าน

In [371]:
link = 'https://docs.google.com/spreadsheets/d/1DO2EP-hfqV-FI2bpOTP1nVESYixq9QuP5pvq_Kq6NT8/export?format=xlsx'
home2 = pd.read_excel(link,sheet_name='home')
home2

,ID ผู้ประเมิน,post id,property_type,ความมั่นใจในการเมินราคาทรัพย์,ราคาทรัพย์,ประเมินราคาซื้อ-ขาย,ปัจจัยในการประเมินราคาซื้อ-ขาย,เหตุผลไม่มั่นใจราคาประเมิน,ให้คะแนนทรัพย์
0,1,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2500000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1,2,https://nayoo.co/khonkaen/posts/25,บ้านเดี่ยว,มั่นใจ,2890000,2700000.0,"โครงการนี้ราคาเสนอขาย 2,500,000-3,000,000 บาท/...",NaN,4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน
2,1,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2200000.0,"5,000-15,000",NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
3,2,https://nayoo.co/khonkaen/posts/33,บ้านเดี่ยว,มั่นใจ,2600000,2400000.0,"ราคาเสนอขายประมาณ 2,200,000 - 2,500,000 บาท/หลัง",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
4,1,https://nayoo.co/khonkaen/posts/495,บ้านเดี่ยว,มั่นใจ,6050000,5000000.0,"5,000-15,000",NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
...,...,...,...,...,...,...,...,...,...
1213,1,https://nayoo.co/khonkaen/posts/6257,บ้านเดี่ยว,มั่นใจ,295000,500000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี
1214,2,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,500000.0,ราคาเสนอขาย 3-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1215,1,https://nayoo.co/khonkaen/posts/6258,บ้านเดี่ยว,มั่นใจ,615000,600000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1216,2,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,700000.0,ราคาเสนอขาย 4-5 พันบาท/ตารางวา,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน
1217,1,https://nayoo.co/khonkaen/posts/6260,บ้านเดี่ยว,มั่นใจ,620000,750000.0,เพื่อป้องกันปัญหาที่อาจเกิดขึ้นภายหลังหากต้องม...,NaN,3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน

#### mape

In [372]:
est1_home2 = home2[home2['ID ผู้ประเมิน']==1]
est1_home2 = est1_home2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
est2_home2 = home2 [home2 ['ID ผู้ประเมิน']==2]
est2_home2 = est2_home2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
est1_home2_mape = mean_absolute_percentage_error(est1_home2['ราคาทรัพย์'],pd.to_numeric(est1_home2['ประเมินราคาซื้อ-ขาย']))
est2_home2_mape = mean_absolute_percentage_error(est2_home2['ราคาทรัพย์'],pd.to_numeric(est2_home2['ประเมินราคาซื้อ-ขาย']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nบ้าน\nนักประเมิน คนที่ 1 = {est1_home2_mape*100:.2f}%\nนักประเมิน คนที่ 2 = {est2_home2_mape*100:.2f}%')
est2_home2['ประเมิน1'] = est2_home2['post id'].map(est1_home2.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est2_home2_new = est2_home2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน1','ราคาทรัพย์'])
est2_home2_new = est2_home2_new[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','ประเมิน1']]
one2two = mean_absolute_percentage_error(est2_home2_new['ประเมินราคาซื้อ-ขาย'],est2_home2_new['ประเมิน1'])
two2one = mean_absolute_percentage_error(est2_home2_new['ประเมิน1'],est2_home2_new['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(est2_home2_new)} ทรัพย์')

ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ
บ้าน
นักประเมิน คนที่ 1 = 12.65%
นักประเมิน คนที่ 2 = 10.07%
ความผิดพลาดระหว่างนักประเมินทั้ง 12.45%
จำนวนทรัพย์ทั้งหมด 497 ทรัพย์

### ที่ดิน

In [ ]:
link = 'https://docs.google.com/spreadsheets/d/1DO2EP-hfqV-FI2bpOTP1nVESYixq9QuP5pvq_Kq6NT8/export?format=xlsx'
land2 = pd.read_excel(link,sheet_name='land')
land2

#### mape

In [ ]:
est1_land2 = land2[land2['ID ผู้ประเมิน']==1]
est1_land2 = est1_land2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
est2_land2 = land2[land2['ID ผู้ประเมิน']==2]
est2_land2 = est2_land2.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'])
est1_land2_mape = mean_absolute_percentage_error(est1_land2['ราคาทรัพย์'],pd.to_numeric(est1_land2['ประเมินราคาซื้อ-ขาย']))
est2_land2_mape = mean_absolute_percentage_error(est2_land2['ราคาทรัพย์'],pd.to_numeric(est2_land2['ประเมินราคาซื้อ-ขาย']))
print(f'ความแตกต่างระหว่างราคาประกาศขายและราคาประเมินของ\nที่ดิน\nนักประเมิน คนที่ 1 = {est1_land2_mape*100:.2f}%\nนักประเมิน คนที่ 2 = {est2_land2_mape*100:.2f}%')
est2_land2['ประเมิน1'] = est2_land2['post id'].map(est1_land2.set_index('post id')['ประเมินราคาซื้อ-ขาย'])
est2_land2_new = est2_land2.dropna(subset=['ประเมินราคาซื้อ-ขาย','ประเมิน1','ราคาทรัพย์'])
est2_land2_new = est2_land2_new[['post id','ราคาทรัพย์','ประเมินราคาซื้อ-ขาย','ประเมิน1']]
one2two = mean_absolute_percentage_error(est2_land2_new['ประเมินราคาซื้อ-ขาย'],est2_land2_new['ประเมิน1'])
two2one = mean_absolute_percentage_error(est2_land2_new['ประเมิน1'],est2_land2_new['ประเมินราคาซื้อ-ขาย'])
print(f'ความผิดพลาดระหว่างนักประเมินทั้ง {((one2two)+(two2one))*50:.2f}%')
print(f'จำนวนทรัพย์ทั้งหมด {len(est2_land2_new)} ทรัพย์')

# HW3 visualize แสดงความสัมพันธ์ ราคา(ตั้งขายและประเมิน)-ความมั่นใจ-ให้คะแนนทรัพย์

In [ ]:
from matplotlib import pyplot as plt
import matplotlib
import numpy as np
import seaborn as sns
from matplotlib.pyplot import figure

In [ ]:
#แสดงผลภาษาไทย
!wget -q https://github.com/Phonbopit/sarabun-webfont/raw/master/fonts/thsarabunnew-webfont.ttf
import matplotlib as mpl
mpl.font_manager.fontManager.addfont('thsarabunnew-webfont.ttf')
mpl.rc('font', family='TH Sarabun New')

In [ ]:
!ls

In [ ]:
est_list = [home2,land2,condo,townhome,commercial]  # List of your dataframes
all_est = pd.concat(est_list)
all_est.shape
all_est_old = all_est

In [ ]:
all_est['ความมั่นใจในการเมินราคาทรัพย์'].value_counts()

In [ ]:
#all_est.dropna(subset=['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'],inplace=True)

In [ ]:
all_est1 = all_est[all_est['ID ผู้ประเมิน']==1]
all_est2 = all_est[all_est['ID ผู้ประเมิน']==2]

In [ ]:
all_est1['property_type'].unique()

In [ ]:
all_est2['property_type'].unique()

In [ ]:
all_est.columns

In [ ]:
all = all_est[['ID ผู้ประเมิน','ความมั่นใจในการเมินราคาทรัพย์', 'ราคาทรัพย์', 'ประเมินราคาซื้อ-ขาย',  'ให้คะแนนทรัพย์']]

### parallel_coordinates ราคาทรัพย์กับราคาประเมิน

In [ ]:
matplotlib.rcParams['figure.figsize']=[15,15]
plt.subplot(1,2,1)
pd.plotting.parallel_coordinates(all_est1, 'property_type',cols = ['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'], color=['#00FFFF', 'blue','red','pink','yellow','green'])

plt.subplot(1,2,2)
pd.plotting.parallel_coordinates(all_est2, 'property_type',cols = ['ราคาทรัพย์','ประเมินราคาซื้อ-ขาย'], color=['#00FFFF', 'blue','red','yellow','green'])

## ความมั่นใจในการประเมิน

In [ ]:
allc = all.groupby(['ID ผู้ประเมิน','ความมั่นใจในการเมินราคาทรัพย์'])[['ความมั่นใจในการเมินราคาทรัพย์']].count().iloc[:2]

In [ ]:
plt.rcParams['figure.figsize']=[16,8]
plt.suptitle('ความมั่นใจในการประเมินราคาทรัพย์สินต่างๆ', fontsize = 20)

plt.barh([1,2],allc['ความมั่นใจในการเมินราคาทรัพย์'],color=['#ffcce0','#ffccff']) 
plt.yticks([1,2],['est1','est2'])
plt.title('Home')

In [ ]:
all_est_score = all_est.pivot_table('post id',index='property_type',columns='ให้คะแนนทรัพย์',aggfunc='count').reset_index().fillna(0)
matplotlib.rcParams['figure.figsize']=[10,10]
name = all_est_score.reset_index()['property_type']
aaa = all_est_score['1 ขายไม่ได้แน่นอน']
bbb = all_est_score['2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี']
ccc = all_est_score['3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน']
ddd = all_est_score['4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน']
eee = all_est_score['5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน']
figure(figsize=(15,15), dpi=70)
x = np.arange(len(aaa))
x2=x
w=0.2
plt.bar(x,aaa,width=w,color='pink',label='1 ขายไม่ได้แน่นอน')
x=x+w
plt.bar(x,bbb,width=w,color='powderblue',alpha = 0.9,label='2 ขายได้ยาก ใช้ระยะเวลามากว่า 1 ปี')
x=x+w
plt.bar(x,ccc,width=w,color='plum',alpha = 0.72,label='3 ขายได้ ใช้ระยะเวลา 7 - 12 เดือน')
x=x+w
plt.bar(x,ddd,width=w,color='lightgreen',alpha = 0.9,label='4 ขายได้ ใช้ระยะเวลา 4 - 6 เดือน')
x=x+w
plt.bar(x,eee,width=w,color='silver',alpha = 0.9,label='5 ขายง่าย ใช้ระยะเวลา 1 - 3 เดือน')

plt.xticks(x2+(w+(w/2)),name,rotation=0)
plt.legend();

## ความสัมพันธ์ระหว่างราคาตั้งขาย ราคาประเมิน ความมั่นใจและการให้คะแนนทรัพย์

In [ ]:
plt.rcParams['figure.figsize']=[28,8]
plt.suptitle('ราคาทรัพย์และการประเมินราคา', fontsize = 20)

plt.plot(all['ราคาทรัพย์'], linestyle='-', linewidth=7, color='royalblue', label='ราคาทรัพย์')
plt.plot(all_est1['ประเมินราคาซื้อ-ขาย'], linestyle='-', linewidth=5 , color='lightcoral', label='นักประเมินคนที่ 1')
plt.plot(all_est2['ประเมินราคาซื้อ-ขาย'], linestyle='-',linewidth=2 , color='yellowgreen',  label='นักประเมินคนที่ 2')
plt.title('Home')

In [ ]:
plt.figure(figsize=(10, 8))
plt.style.use('fivethirtyeight')
plt.title("ความสัมพันธ์ระหว่างราคาทรัพย์และราคาประเมินซื้อขาย")
sns.regplot(x="ราคาทรัพย์", y="ประเมินราคาซื้อ-ขาย", data=all_est)
plt.show()

In [ ]:
plt.figure(figsize=(20,20))
sns.relplot(data=all_est, x="ราคาทรัพย์", y="ประเมินราคาซื้อ-ขาย", hue="ให้คะแนนทรัพย์",style="ความมั่นใจในการเมินราคาทรัพย์",sizes=(150, 150),size="ให้คะแนนทรัพย์" 
                  ,alpha=0.6)