<a href="https://colab.research.google.com/github/NarawitPrathansap/bsc_dpbm22/blob/main/%E0%B8%AA%E0%B8%B3%E0%B9%80%E0%B8%99%E0%B8%B2%E0%B8%82%E0%B8%AD%E0%B8%87_GroupsQuiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
from google.colab import drive # เชื่อมเข้ากับ Drive
drive.mount('/content/drive')

Mounted at /content/drive

# เรียกใช้ไฟล์

## ความกด(เปอร์เซ็นต์)

In [3]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/drive/MyDrive/bsc_DPBM_data_N/อุตุ/ความกด(เปอร์เซ็นต์)')

!pwd #เช็ค paht ที่กำลังทำงานอยู่
!ls

/content/drive/MyDrive/bsc_DPBM_data_N/อุตุ/ความกด(เปอร์เซ็นต์)
จ.เลย.xlsx  จ.สกลนคร.xlsx  จ.นครพนม.xlsx  จ.หนองคาย.xlsx  จ.ขอนแก่น.xlsx

In [4]:
Pressure_KK = pd.read_excel('จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4 )
Pressure_KK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Pressure_KK.shape) # shown nomber of (row, column)

Pressure_L = pd.read_excel('จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4 )
Pressure_L.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Pressure_L.shape)

Pressure_SK = pd.read_excel('จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=4 )
Pressure_SK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Pressure_SK.shape)

Pressure_NP = pd.read_excel('จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4 )
Pressure_NP.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Pressure_NP.shape)

Pressure_NK = pd.read_excel('จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4 )
Pressure_NK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Pressure_NK.shape)

(55, 35)
(55, 35)
(55, 35)
(55, 35)
(55, 35)

In [5]:
Pressure_KK.head(3)

,ที่,สถานี,เดือน/ปี,1.0,2.0,3.0,4.0,5.0,6.0,7.0,...,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30.0,31.0,เฉลี่ย
0,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645
1,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717000
2,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.470000

### จังหวัดขอนแก่น

In [6]:
KK = str(Pressure_KK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Pressure_KK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    A.append(res[1])
Pressure_KK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('ขอนแก่น')
Pressure_KK['จังหวัด'] = A

In [7]:
Pressure_KK = Pressure_KK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Pressure_KK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1.0,2.0,3.0,4.0,5.0,6.0,...,22.0,23.0,24.0,25.0,26.0,27.0,28.0,29.0,30.0,31.0
0,ขอนแก่น,352201-หนองคาย จ.หนองคาย,10,2011,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,...,1010.90,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,11,2011,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,...,1013.63,1014.07,1015.40,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,12,2011,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,...,1012.88,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4

In [8]:
Pres_KK = Pressure_KK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Pres_KK.rename(columns={'level_4': 'วัน', 0: 'ความกด'}, inplace=True)
Pres_KK = Pres_KK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'ความกด']]
Pres_KK.head(3)

   จังหวัด                     สถานี  วัน เดือน     ปี   ความกด
0  ขอนแก่น  352201-หนองคาย จ.หนองคาย  1.0    10   2011  1005.47
1  ขอนแก่น  352201-หนองคาย จ.หนองคาย  2.0    10   2011  1006.65
2  ขอนแก่น  352201-หนองคาย จ.หนองคาย  3.0    10   2011  1007.49

### จังหวัดเลย

In [9]:
KK = str(Pressure_L['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Pressure_L['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res 
    A.append(res[1])
Pressure_L['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('เลย')
Pressure_L['จังหวัด'] = A

In [10]:
Pressure_L = Pressure_L[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Pressure_L.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,เลย,352201-หนองคาย จ.หนองคาย,10,2011,1005.12,1006.51,1007.81,1008.15,1009.21,1011.28,...,1010.98,1010.79,1010.25,1011.52,1012.04,1012.00,1012.74,1011.69,1011.27,1011.71
1,เลย,352201-หนองคาย จ.หนองคาย,11,2011,1012.09,1011.32,1010.99,1011.47,1010.88,1009.62,...,1014.21,1014.79,1015.74,1014.36,1013.30,1011.92,1009.86,1010.1,1010.43,-
2,เลย,352201-หนองคาย จ.หนองคาย,12,2011,1010.43,1011.81,1012.45,1012.03,1013.29,1013.21,...,1014.34,1013.75,1013.11,1015.95,1018.79,1019.39,1017.88,1016.49,1014.97,1015.62

In [11]:
Pres_L = Pressure_L.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Pres_L.rename(columns={'level_4': 'วัน', 0: 'ความกด'}, inplace=True)
Pres_L = Pres_L[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'ความกด']]
Pres_L.head(3)

  จังหวัด                     สถานี  วัน เดือน     ปี   ความกด
0     เลย  352201-หนองคาย จ.หนองคาย    1    10   2011  1005.12
1     เลย  352201-หนองคาย จ.หนองคาย    2    10   2011  1006.51
2     เลย  352201-หนองคาย จ.หนองคาย    3    10   2011  1007.81

### จังหวัดสกลนคร

In [12]:
KK = str(Pressure_SK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Pressure_SK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    A.append(res[1])
Pressure_SK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('สกลนคร')
Pressure_SK['จังหวัด'] = A

In [13]:
Pressure_SK = Pressure_SK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Pressure_SK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,สกลนคร,352201-หนองคาย จ.หนองคาย,10,2011,1005.84,1007.16,1007.87,1008.56,1010.55,1011.83,...,1011.36,1011.24,1010.80,1012.02,1012.36,1012.42,1012.97,1012.52,1011.87,1012.21
1,สกลนคร,352201-หนองคาย จ.หนองคาย,11,2011,1012.41,1011.47,1011.22,1011.16,1010.51,1009.26,...,1014.41,1015.21,1016.11,1014.65,1012.96,1011.91,1010.10,1010.78,1011.06,-
2,สกลนคร,352201-หนองคาย จ.หนองคาย,12,2011,1012.16,1013.74,1013.44,1014.00,1013.28,1012.69,...,1014.07,1014.22,1017.34,1019.63,1019.96,1017.56,1017.02,1015.8,1016.96,1017.63

In [14]:
Pres_SK = Pressure_SK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Pres_SK.rename(columns={'level_4': 'วัน', 0: 'ความกด'}, inplace=True)
Pres_SK = Pres_SK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'ความกด']]
Pres_SK.head(3)

  จังหวัด                     สถานี  วัน เดือน     ปี   ความกด
0  สกลนคร  352201-หนองคาย จ.หนองคาย    1    10   2011  1005.84
1  สกลนคร  352201-หนองคาย จ.หนองคาย    2    10   2011  1007.16
2  สกลนคร  352201-หนองคาย จ.หนองคาย    3    10   2011  1007.87

### จังหวัดนครพนม

In [15]:
KK = str(Pressure_NP['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Pressure_NP['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res 
    A.append(res[1])
Pressure_NP['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('นครพนม')
Pressure_NP['จังหวัด'] = A

In [16]:
Pressure_NP = Pressure_NP[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Pressure_NP.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,นครพนม,352201-หนองคาย จ.หนองคาย,10,2011,1006.30,1007.38,1008.07,1008.44,1010.51,1011.65,...,1011.24,1011.09,1010.64,1012.01,1012.47,1012.46,1012.85,1012.43,1011.69,1012.28
1,นครพนม,352201-หนองคาย จ.หนองคาย,11,2011,1012.28,1011.23,1011.08,1010.96,1010.57,1009.20,...,1014.31,1015.49,1016.09,1014.62,1012.80,1011.83,1010.00,1010.6,1011.13,-
2,นครพนม,352201-หนองคาย จ.หนองคาย,12,2011,1012.15,1013.75,1013.24,1013.94,1013.35,1012.62,...,1014.05,1014.23,1017.58,1019.77,1019.71,1017.34,1017.01,1015.64,1016.89,1017.73

In [17]:
Pres_NP = Pressure_NP.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Pres_NP.rename(columns={'level_4': 'วัน', 0: 'ความกด'}, inplace=True)
Pres_NP = Pres_NP[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'ความกด']]
Pres_NP.head(3)

  จังหวัด                     สถานี  วัน เดือน     ปี   ความกด
0  นครพนม  352201-หนองคาย จ.หนองคาย    1    10   2011   1006.3
1  นครพนม  352201-หนองคาย จ.หนองคาย    2    10   2011  1007.38
2  นครพนม  352201-หนองคาย จ.หนองคาย    3    10   2011  1008.07

### จังหวัดหนองคาย

In [18]:
KK = str(Pressure_NK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Pressure_NK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Pressure_NK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('หนองคาย')
Pressure_NK['จังหวัด'] = A

In [19]:
Pressure_NK = Pressure_NK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Pressure_NK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,หนองคาย,352201-หนองคาย จ.หนองคาย,10,2011,1005.34,1006.67,1007.39,1008.11,1009.69,1011.55,...,1011.17,1011.01,1010.71,1011.67,1012.36,1012.50,1012.81,1011.88,1011.77,1012.18
1,หนองคาย,352201-หนองคาย จ.หนองคาย,11,2011,1012.05,1011.35,1011.28,1011.27,1010.62,1009.58,...,1014.32,1015.27,1016.46,1014.65,1013.08,1011.62,1010.21,1010.71,1011.1,-
2,หนองคาย,352201-หนองคาย จ.หนองคาย,12,2011,1012.16,1013.26,1012.40,1013.57,1013.68,1012.72,...,1013.91,1013.94,1016.92,1019.05,1019.88,1017.86,1016.76,1015.63,1016.31,1017.19

In [20]:
Pres_NK = Pressure_NK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Pres_NK.rename(columns={'level_4': 'วัน', 0: 'ความกด'}, inplace=True)
Pres_NK = Pres_NK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'ความกด']]
Pres_NK.head(3)

   จังหวัด                     สถานี  วัน เดือน     ปี   ความกด
0  หนองคาย  352201-หนองคาย จ.หนองคาย    1    10   2011  1005.34
1  หนองคาย  352201-หนองคาย จ.หนองคาย    2    10   2011  1006.67
2  หนองคาย  352201-หนองคาย จ.หนองคาย    3    10   2011  1007.39

### รวมความกดอากาศทุกจังหวัด

In [21]:
Pressure = pd.concat([Pres_KK,Pres_L,Pres_SK,Pres_NP,Pres_NK])
print(Pressure.shape)
Pressure.head(3)

(8525, 6)

   จังหวัด                     สถานี  วัน เดือน     ปี   ความกด
0  ขอนแก่น  352201-หนองคาย จ.หนองคาย  1.0    10   2011  1005.47
1  ขอนแก่น  352201-หนองคาย จ.หนองคาย  2.0    10   2011  1006.65
2  ขอนแก่น  352201-หนองคาย จ.หนองคาย  3.0    10   2011  1007.49

## ความชื้นสัมพัทธ์(เปอร์เซ็นต์)

In [22]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/drive/MyDrive/bsc_DPBM_data_N/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)')

!pwd #เช็ค paht ที่กำลังทำงานอยู่
!ls

/content/drive/MyDrive/bsc_DPBM_data_N/อุตุ/ความชื้นสัมพัทธ์(เปอร์เซ็นต์)
จ.เลย.xlsx  จ.สกลนคร.xlsx  จ.นครพนม.xlsx  จ.หนองคาย.xlsx  จ.ขอนแก่น.xlsx

In [23]:
Humidity_KK = pd.read_excel('จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4 )
Humidity_KK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Humidity_KK.shape) # shown nomber of (row, column)

Humidity_L = pd.read_excel('จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4 )
Humidity_L.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Humidity_L.shape)

Humidity_SK = pd.read_excel('จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=4 )
Humidity_SK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Humidity_SK.shape)

Humidity_NP = pd.read_excel('จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4 )
Humidity_NP.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Humidity_NP.shape)

Humidity_NK = pd.read_excel('จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4 )
Humidity_NK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Humidity_NK.shape)

(55, 35)
(55, 35)
(55, 35)
(55, 35)
(55, 35)

In [24]:
Humidity_KK.head(3)

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,83,92,86,80,86,86,83,...,73,72,73,69,69,75,71,71,68,79
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,71,65,68,65,65,68,69,...,65,66,65,67,68,67,67,65,-,68
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,66,61,61,62,61,60,69,...,63,62,60,60,62,65,66,63,64,63

### จังหวัดขอนแก่น

In [25]:
KK = str(Humidity_KK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Humidity_KK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Humidity_KK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('ขอนแก่น')
Humidity_KK['จังหวัด'] = A

In [26]:
Humidity_KK = Humidity_KK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Humidity_KK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,83,92,86,80,86,86,...,73,73,72,73,69,69,75,71,71,68
1,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2011,71,65,68,65,65,68,...,69,65,66,65,67,68,67,67,65,-
2,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2011,66,61,61,62,61,60,...,64,63,62,60,60,62,65,66,63,64

In [27]:
Humi_KK = Humidity_KK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Humi_KK.rename(columns={'level_4': 'วัน', 0: 'ความชื้น'}, inplace=True)
Humi_KK = Humi_KK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'ความชื้น']]
Humi_KK.head(3)

   จังหวัด                     สถานี  วัน เดือน     ปี ความชื้น
0  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    1    10   2011       83
1  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    2    10   2011       92
2  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    3    10   2011       86

### จังหวัดเลย

In [28]:
KK = str(Humidity_L['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Humidity_L['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res   
    A.append(res[1])
Humidity_L['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('เลย')
Humidity_L['จังหวัด'] = A

In [29]:
Humidity_L = Humidity_L[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Humidity_L.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,เลย,353301-เลย สกษ. จ.เลย,10,2011,90,95,92,89,86,94,...,85,85,86,83,84,85,85,82,83,85
1,เลย,353301-เลย สกษ. จ.เลย,11,2011,85,83,84,83,83,85,...,84,73,77,80,81,80,84,82,79,-
2,เลย,353301-เลย สกษ. จ.เลย,12,2011,80,77,77,76,78,83,...,82,80,74,75,74,80,80,78,81,78

In [30]:
Humi_L = Humidity_L.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Humi_L.rename(columns={'level_4': 'วัน', 0: 'ความชื้น'}, inplace=True)
Humi_L = Humi_L[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'ความชื้น']]
Humi_L.head(3)

  จังหวัด                  สถานี  วัน เดือน     ปี ความชื้น
0     เลย  353301-เลย สกษ. จ.เลย    1    10   2011       90
1     เลย  353301-เลย สกษ. จ.เลย    2    10   2011       95
2     เลย  353301-เลย สกษ. จ.เลย    3    10   2011       92

### จังหวัดสกลนคร

In [31]:
KK = str(Humidity_SK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Humidity_SK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Humidity_SK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('สกลนคร')
Humidity_SK['จังหวัด'] = A

In [32]:
Humidity_SK = Humidity_SK[[  'จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Humidity_SK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,สกลนคร,356201-สกลนคร จ.สกลนคร,10,2011,87,88,77,75,87,86,...,70,74,73,73,72,72,70,74,73,72
1,สกลนคร,356201-สกลนคร จ.สกลนคร,11,2011,71,71,71,72,73,70,...,72,68,66,71,71,70,70,69,69,-
2,สกลนคร,356201-สกลนคร จ.สกลนคร,12,2011,66,61,64,67,70,73,...,68,69,65,64,62,69,69,69,69,68

In [33]:
Humi_SK = Humidity_SK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Humi_SK.rename(columns={'level_4': 'วัน', 0: 'ความชื้น'}, inplace=True)
Humi_SK = Humi_SK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'ความชื้น']]
Humi_SK.head(3)

  จังหวัด                   สถานี  วัน เดือน     ปี ความชื้น
0  สกลนคร  356201-สกลนคร จ.สกลนคร    1    10   2011       87
1  สกลนคร  356201-สกลนคร จ.สกลนคร    2    10   2011       88
2  สกลนคร  356201-สกลนคร จ.สกลนคร    3    10   2011       77

### จังหวัดนครพนม

In [34]:
KK = str(Humidity_NP['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Humidity_NP['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res   
    A.append(res[1])
Humidity_NP['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('นครพนม')
Humidity_NP['จังหวัด'] = A

In [35]:
Humidity_NP = Humidity_NP[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Humidity_NP.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,นครพนม,357201-นครพนม จ.นครพนม,10,2011,95,84,74,72,87,88,...,68,66,67,70,69,71,66,72,70,69
1,นครพนม,357201-นครพนม จ.นครพนม,11,2011,69,67,70,68,71,68,...,72,66,66,70,78,74,69,66,65,-
2,นครพนม,357201-นครพนม จ.นครพนม,12,2011,64,56,62,67,69,77,...,67,66,54,60,61,70,71,63,66,70

In [36]:
Humi_NP = Humidity_NP.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Humi_NP.rename(columns={'level_4': 'วัน', 0: 'ความชื้น'}, inplace=True)
Humi_NP = Humi_NP[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'ความชื้น']]
Humi_NP.head(3)

  จังหวัด                   สถานี  วัน เดือน     ปี ความชื้น
0  นครพนม  357201-นครพนม จ.นครพนม    1    10   2011       95
1  นครพนม  357201-นครพนม จ.นครพนม    2    10   2011       84
2  นครพนม  357201-นครพนม จ.นครพนม    3    10   2011       74

### จังหวัดหนองคาย

In [37]:
KK = str(Humidity_NK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Humidity_NK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res   
    A.append(res[1])
Humidity_NK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('หนองคาย')
Humidity_NK['จังหวัด'] = A

In [38]:
Humidity_NK = Humidity_NK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Humidity_NK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,หนองคาย,352201-หนองคาย จ.หนองคาย,10,2011,89,91,78,75,90,88,...,71,76,73,68,71,70,71,70,66,68
1,หนองคาย,352201-หนองคาย จ.หนองคาย,11,2011,68,66,66,67,68,69,...,63,60,64,65,67,68,69,71,69,-
2,หนองคาย,352201-หนองคาย จ.หนองคาย,12,2011,67,62,66,66,65,68,...,66,65,56,61,58,67,71,70,67,68

In [39]:
Humi_NK = Humidity_NK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Humi_NK.rename(columns={'level_4': 'วัน', 0: 'ความชื้น'}, inplace=True)
Humi_NK = Humi_NK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'ความชื้น']]
Humi_NK.head(3)

   จังหวัด                     สถานี  วัน เดือน     ปี ความชื้น
0  หนองคาย  352201-หนองคาย จ.หนองคาย    1    10   2011       89
1  หนองคาย  352201-หนองคาย จ.หนองคาย    2    10   2011       91
2  หนองคาย  352201-หนองคาย จ.หนองคาย    3    10   2011       78

### รวมความชื้นสัมพัทธ์ทุกจังหวัด

In [40]:
Humidity = pd.concat([Humi_KK,Humi_L,Humi_SK,Humi_NP,Humi_NK])
print(Humidity.shape)
Humidity.head(3)

(8525, 6)

   จังหวัด                     สถานี  วัน เดือน     ปี ความชื้น
0  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    1    10   2011       83
1  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    2    10   2011       92
2  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    3    10   2011       86

## ความเร็วลม(นอต)

In [41]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/drive/MyDrive/bsc_DPBM_data_N/อุตุ/ความเร็วลม(นอต)')

!pwd #เช็ค paht ที่กำลังทำงานอยู่
!ls

/content/drive/MyDrive/bsc_DPBM_data_N/อุตุ/ความเร็วลม(นอต)
จ.เลย.xlsx  จ.สกลนคร.xlsx  จ.นครพนม.xlsx  จ.ขอนแก่น.xlsx  จ.หนองคาย.xlsx

In [42]:
Wind_KK = pd.read_excel('จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4 )
Wind_KK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Wind_KK.shape) # shown nomber of (row, column)

Wind_L = pd.read_excel('จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4 )
Wind_L.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Wind_L.shape)

Wind_SK = pd.read_excel('จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=4 )
Wind_SK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Wind_SK.shape)

Wind_NP = pd.read_excel('จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4 )
Wind_NP.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Wind_NP.shape)

Wind_NK = pd.read_excel('จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4 )
Wind_NK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Wind_NK.shape)

(55, 35)
(55, 35)
(55, 35)
(55, 35)
(55, 35)

In [43]:
Wind_KK.head(3)

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,353301-เลย สกษ. จ.เลย,2011-10-01,3,2,3,2,2,3,4,...,2,3,5,5,5,4,6,4,5,3.354839
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,4,5,3,3,5,2,3,...,7,6,5,5,3,1,3,3,-,3.466667
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,3,4,4,4,4,4,4,...,5,6,7,6,5,4,4,6,5,4.806452

### จังหวัดขอนแก่น

In [44]:
KK = str(Wind_KK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Wind_KK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Wind_KK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('ขอนแก่น')
Wind_KK['จังหวัด'] = A

In [45]:
Wind_KK = Wind_KK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Wind_KK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,ขอนแก่น,353301-เลย สกษ. จ.เลย,10,2011,3,2,3,2,2,3,...,3,2,3,5,5,5,4,6,4,5
1,ขอนแก่น,353301-เลย สกษ. จ.เลย,11,2011,4,5,3,3,5,2,...,5,7,6,5,5,3,1,3,3,-
2,ขอนแก่น,353301-เลย สกษ. จ.เลย,12,2011,3,4,4,4,4,4,...,4,5,6,7,6,5,4,4,6,5

In [46]:
Wi_KK = Wind_KK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Wi_KK.rename(columns={'level_4': 'วัน', 0: 'ความเร็วลม'}, inplace=True)
Wi_KK = Wi_KK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'ความเร็วลม']]
Wi_KK.head(3)

   จังหวัด                  สถานี  วัน เดือน     ปี ความเร็วลม
0  ขอนแก่น  353301-เลย สกษ. จ.เลย    1    10   2011          3
1  ขอนแก่น  353301-เลย สกษ. จ.เลย    2    10   2011          2
2  ขอนแก่น  353301-เลย สกษ. จ.เลย    3    10   2011          3

### จังหวัดเลย

In [47]:
KK = str(Wind_L['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Wind_L['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Wind_L['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('เลย')
Wind_L['จังหวัด'] = A

In [48]:
Wind_L = Wind_L[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Wind_L.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,เลย,353301-เลย สกษ. จ.เลย,10,2011,2,2,3,2,3,2,...,1,1,1,2,2,1,2,2,2,1
1,เลย,353301-เลย สกษ. จ.เลย,11,2011,1,2,1,1,2,2,...,2,3,2,1,1,2,1,2,1,-
2,เลย,353301-เลย สกษ. จ.เลย,12,2011,2,2,3,2,1,2,...,2,1,2,3,2,1,2,1,2,2

In [49]:
Wi_L = Wind_L.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Wi_L.rename(columns={'level_4': 'วัน', 0: 'ความเร็วลม'}, inplace=True)
Wi_L = Wi_L[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'ความเร็วลม']]
Wi_L.head(3)

  จังหวัด                  สถานี  วัน เดือน     ปี ความเร็วลม
0     เลย  353301-เลย สกษ. จ.เลย    1    10   2011          2
1     เลย  353301-เลย สกษ. จ.เลย    2    10   2011          2
2     เลย  353301-เลย สกษ. จ.เลย    3    10   2011          3

### จังหวัดสกลนคร

In [50]:
KK = str(Wind_SK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Wind_SK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Wind_SK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('สกลนคร')
Wind_SK['จังหวัด'] = A

In [51]:
Wind_SK = Wind_SK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Wind_SK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,สกลนคร,353301-เลย สกษ. จ.เลย,10,2011,1,1,2,2,1,0,...,1,1,2,2,1,2,2,1,1,1
1,สกลนคร,353301-เลย สกษ. จ.เลย,11,2011,1,1,1,1,1,1,...,2,3,3,2,2,1,1,1,1,-
2,สกลนคร,353301-เลย สกษ. จ.เลย,12,2011,1,2,2,1,1,1,...,1,1,3,3,1,2,1,1,2,2

In [52]:
Wi_SK = Wind_SK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Wi_SK.rename(columns={'level_4': 'วัน', 0: 'ความเร็วลม'}, inplace=True)
Wi_SK = Wi_SK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'ความเร็วลม']]
Wi_SK.head(3)

  จังหวัด                  สถานี  วัน เดือน     ปี ความเร็วลม
0  สกลนคร  353301-เลย สกษ. จ.เลย    1    10   2011          1
1  สกลนคร  353301-เลย สกษ. จ.เลย    2    10   2011          1
2  สกลนคร  353301-เลย สกษ. จ.เลย    3    10   2011          2

### จังหวัดนครพนม

In [53]:
KK = str(Wind_NP['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Wind_NP['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Wind_NP['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('นครพนม')
Wind_NP['จังหวัด'] = A

In [54]:
Wind_NP = Wind_NP[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Wind_NP.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,นครพนม,353301-เลย สกษ. จ.เลย,10,2011,1,1,2,2,1,0,...,1,1,2,2,1,2,2,1,1,1
1,นครพนม,353301-เลย สกษ. จ.เลย,11,2011,1,1,1,1,1,1,...,2,3,3,2,2,1,1,1,1,-
2,นครพนม,353301-เลย สกษ. จ.เลย,12,2011,1,2,2,1,1,1,...,1,1,3,3,1,2,1,1,2,2

In [55]:
Wi_NP = Wind_NP.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Wi_NP.rename(columns={'level_4': 'วัน', 0: 'ความเร็วลม'}, inplace=True)
Wi_NP = Wi_NP[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'ความเร็วลม']]
Wi_NP.head(3)

  จังหวัด                  สถานี  วัน เดือน     ปี ความเร็วลม
0  นครพนม  353301-เลย สกษ. จ.เลย    1    10   2011          1
1  นครพนม  353301-เลย สกษ. จ.เลย    2    10   2011          1
2  นครพนม  353301-เลย สกษ. จ.เลย    3    10   2011          2

### จังหวัดหนองคาย

In [56]:
KK = str(Wind_NK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Wind_NK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Wind_NK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('หนองคาย')
Wind_NK['จังหวัด'] = A

In [57]:
Wind_NK = Wind_NK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Wind_NK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,หนองคาย,353301-เลย สกษ. จ.เลย,10,2011,1,4,4,2,1,3,...,2,2,2,3,3,3,3,3,3,4
1,หนองคาย,353301-เลย สกษ. จ.เลย,11,2011,3,3,3,2,2,1,...,4,7,4,2,3,2,2,2,2,-
2,หนองคาย,353301-เลย สกษ. จ.เลย,12,2011,2,5,3,2,2,2,...,3,3,6,5,4,2,2,2,3,2

In [58]:
Wi_NK = Wind_NK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Wi_NK.rename(columns={'level_4': 'วัน', 0: 'ความเร็วลม'}, inplace=True)
Wi_NK = Wi_NK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'ความเร็วลม']]
Wi_NK.head(3)

   จังหวัด                  สถานี  วัน เดือน     ปี ความเร็วลม
0  หนองคาย  353301-เลย สกษ. จ.เลย    1    10   2011          1
1  หนองคาย  353301-เลย สกษ. จ.เลย    2    10   2011          4
2  หนองคาย  353301-เลย สกษ. จ.เลย    3    10   2011          4

### รวมความเร็วลมทุกจังหวัด

In [59]:
Wind = pd.concat([Wi_KK,Wi_L,Wi_SK,Wi_NP,Wi_NK])
print(Wind.shape)
Wind.head(3)

(8525, 6)

   จังหวัด                  สถานี  วัน เดือน     ปี ความเร็วลม
0  ขอนแก่น  353301-เลย สกษ. จ.เลย    1    10   2011          3
1  ขอนแก่น  353301-เลย สกษ. จ.เลย    2    10   2011          2
2  ขอนแก่น  353301-เลย สกษ. จ.เลย    3    10   2011          3

## จำนวนเมฆ(10ส่วน)

In [60]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/drive/MyDrive/bsc_DPBM_data_N/อุตุ/จำนวนเมฆ(10ส่วน)')

!pwd #เช็ค paht ที่กำลังทำงานอยู่
!ls

/content/drive/MyDrive/bsc_DPBM_data_N/อุตุ/จำนวนเมฆ(10ส่วน)
จ.เลย.xlsx  จ.สกลนคร.xlsx  จ.นครพนม.xlsx  จ.หนองคาย.xlsx  จ.ขอนแก่น.xlsx

In [61]:
Cloud_KK = pd.read_excel('จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4 )
Cloud_KK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Cloud_KK.shape) # shown nomber of (row, column)

Cloud_L = pd.read_excel('จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4 )
Cloud_L.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Cloud_L.shape)

Cloud_SK = pd.read_excel('จ.สกลนคร.xlsx',sheet_name='Sheet1',skiprows=4 )
Cloud_SK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Cloud_SK.shape)

Cloud_NP = pd.read_excel('จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4 )
Cloud_NP.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Cloud_NP.shape)

Cloud_NK = pd.read_excel('จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4 )
Cloud_NK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Cloud_NK.shape)

(55, 35)
(55, 45)
(55, 35)
(55, 35)
(55, 35)

In [62]:
pd.read_excel('จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4 ).head(3) #เรียกไฟล์ออกมาดูว่าทำไมถึงมี 45 คอลัมน์

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1,2,3,4,5,6,7,...,Unnamed: 35,Unnamed: 36,Unnamed: 37,Unnamed: 38,Unnamed: 39,Unnamed: 40,Unnamed: 41,Unnamed: 42,Unnamed: 43,Unnamed: 44
0,1,353301-เลย สกษ. จ.เลย,2011-10-01,8,10,10,9,8,10,10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,1,2,1,1,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,1,3,1,3,3,2,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
Cloud_L = Cloud_L.iloc[:,:35] #ตัดให้มี 35คอลัมน์
print(Cloud_L.shape)

(55, 35)

In [64]:
Cloud_KK.head(3)

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,353301-เลย สกษ. จ.เลย,2011-10-01,9,10,10,8,10,10,10,...,2,3,5,3,3,5,4,2,2,6.322581
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,2,2,2,3,6,9,...,6,6,3,2,2,1,3,2,-,3.533333
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,2,3,4,4,5,8,7,...,5,5,3,3,1,2,1,1,1,3.516129

### จังหวัดขอนแก่น

In [65]:
KK = str(Cloud_KK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Cloud_KK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Cloud_KK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('ขอนแก่น')
Cloud_KK['จังหวัด'] = A

In [66]:
Cloud_KK = Cloud_KK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Cloud_KK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,ขอนแก่น,353301-เลย สกษ. จ.เลย,10,2011,9,10,10,8,10,10,...,3,2,3,5,3,3,5,4,2,2
1,ขอนแก่น,353301-เลย สกษ. จ.เลย,11,2011,2,2,2,2,3,6,...,5,6,6,3,2,2,1,3,2,-
2,ขอนแก่น,353301-เลย สกษ. จ.เลย,12,2011,2,3,4,4,5,8,...,4,5,5,3,3,1,2,1,1,1

In [67]:
Cl_KK = Cloud_KK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Cl_KK.rename(columns={'level_4': 'วัน', 0: 'จำนวนเมฆ'}, inplace=True)
Cl_KK = Cl_KK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'จำนวนเมฆ']]
Cl_KK.head(3)

   จังหวัด                  สถานี  วัน เดือน     ปี จำนวนเมฆ
0  ขอนแก่น  353301-เลย สกษ. จ.เลย    1    10   2011        9
1  ขอนแก่น  353301-เลย สกษ. จ.เลย    2    10   2011       10
2  ขอนแก่น  353301-เลย สกษ. จ.เลย    3    10   2011       10

### จังหวัดเลย

In [68]:
KK = str(Cloud_L['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Cloud_L['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Cloud_L['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('เลย')
Cloud_L['จังหวัด'] = A

In [69]:
Cloud_L = Cloud_L[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Cloud_L.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,เลย,353301-เลย สกษ. จ.เลย,10,2011,8,10,10,9,8,10,...,2,1,1,2,4,2,3,3,1,2
1,เลย,353301-เลย สกษ. จ.เลย,11,2011,2,1,2,1,1,1,...,6,6,4,0,1,2,2,5,3,-
2,เลย,353301-เลย สกษ. จ.เลย,12,2011,1,3,1,3,3,2,...,3,3,1,1,0,0,1,1,4,1

In [70]:
Cl_L = Cloud_L.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Cl_L.rename(columns={'level_4': 'วัน', 0: 'จำนวนเมฆ'}, inplace=True)
Cl_L = Cl_L[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'จำนวนเมฆ']]
Cl_L.head(3)

  จังหวัด                  สถานี  วัน เดือน     ปี จำนวนเมฆ
0     เลย  353301-เลย สกษ. จ.เลย    1    10   2011        8
1     เลย  353301-เลย สกษ. จ.เลย    2    10   2011       10
2     เลย  353301-เลย สกษ. จ.เลย    3    10   2011       10

### จังหวัดสกลนคร

In [71]:
KK = str(Cloud_SK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Cloud_SK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res   
    A.append(res[1])
Cloud_SK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('สกลนคร')
Cloud_SK['จังหวัด'] = A

In [72]:
Cloud_SK = Cloud_SK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Cloud_SK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,สกลนคร,353301-เลย สกษ. จ.เลย,10,2011,9,9,7,7,9,10,...,1,2,1,2,1,1,3,3,1,4
1,สกลนคร,353301-เลย สกษ. จ.เลย,11,2011,2,0,0,1,3,7,...,6,4,3,1,1,1,1,1,0,-
2,สกลนคร,353301-เลย สกษ. จ.เลย,12,2011,1,1,2,2,2,6,...,3,3,2,-,0,0,0,0,1,-

In [73]:
Cl_SK = Cloud_SK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Cl_SK.rename(columns={'level_4': 'วัน', 0: 'จำนวนเมฆ'}, inplace=True)
Cl_SK = Cl_SK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'จำนวนเมฆ']]
Cl_SK.head(3)

  จังหวัด                  สถานี  วัน เดือน     ปี จำนวนเมฆ
0  สกลนคร  353301-เลย สกษ. จ.เลย    1    10   2011        9
1  สกลนคร  353301-เลย สกษ. จ.เลย    2    10   2011        9
2  สกลนคร  353301-เลย สกษ. จ.เลย    3    10   2011        7

### จังหวัดนครพนม

In [74]:
KK = str(Cloud_NP['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Cloud_NP['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Cloud_NP['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('นครพนม')
Cloud_NP['จังหวัด'] = A

In [75]:
Cloud_NP = Cloud_NP[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Cloud_NP.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,นครพนม,353301-เลย สกษ. จ.เลย,10,2011,10,7,8,8,10,10,...,2,2,2,2,2,3,3,4,2,4
1,นครพนม,353301-เลย สกษ. จ.เลย,11,2011,2,2,2,3,5,7,...,4,4,4,4,2,2,2,1,1,-
2,นครพนม,353301-เลย สกษ. จ.เลย,12,2011,2,2,2,4,4,7,...,4,4,2,2,2,2,1,2,1,1

In [76]:
Cl_NP = Cloud_NP.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Cl_NP.rename(columns={'level_4': 'วัน', 0: 'จำนวนเมฆ'}, inplace=True)
Cl_NP = Cl_NP[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'จำนวนเมฆ']]
Cl_NP.head(3)

  จังหวัด                  สถานี  วัน เดือน     ปี จำนวนเมฆ
0  นครพนม  353301-เลย สกษ. จ.เลย    1    10   2011       10
1  นครพนม  353301-เลย สกษ. จ.เลย    2    10   2011        7
2  นครพนม  353301-เลย สกษ. จ.เลย    3    10   2011        8

### จังหวัดหนองคาย

In [77]:
KK = str(Cloud_NK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Cloud_NK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res   
    A.append(res[1])
Cloud_NK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('หนองคาย')
Cloud_NK['จังหวัด'] = A

In [78]:
Cloud_NK = Cloud_NK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Cloud_NK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,หนองคาย,353301-เลย สกษ. จ.เลย,10,2011,10,10,8,9,9,10,...,1,3,1,1,2,1,1,1,4,3
1,หนองคาย,353301-เลย สกษ. จ.เลย,11,2011,1,0,0,1,1,2,...,6,6,6,-,0,1,2,4,2,-
2,หนองคาย,353301-เลย สกษ. จ.เลย,12,2011,4,4,-,2,7,5,...,1,2,8,1,-,3,1,1,3,-

In [79]:
Cl_NK = Cloud_NK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Cl_NK.rename(columns={'level_4': 'วัน', 0: 'จำนวนเมฆ'}, inplace=True)
Cl_NK = Cl_NK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'จำนวนเมฆ']]
Cl_NK.head(3)

   จังหวัด                  สถานี  วัน เดือน     ปี จำนวนเมฆ
0  หนองคาย  353301-เลย สกษ. จ.เลย    1    10   2011       10
1  หนองคาย  353301-เลย สกษ. จ.เลย    2    10   2011       10
2  หนองคาย  353301-เลย สกษ. จ.เลย    3    10   2011        8

### รวมจำนวนเมฆทุกจังหวัด

In [80]:
Cloud = pd.concat([Cl_KK,Cl_L,Cl_SK,Cl_NP,Cl_NK])
print(Cloud.shape)
Cloud.head(3)

(8522, 6)

   จังหวัด                  สถานี  วัน เดือน     ปี จำนวนเมฆ
0  ขอนแก่น  353301-เลย สกษ. จ.เลย    1    10   2011        9
1  ขอนแก่น  353301-เลย สกษ. จ.เลย    2    10   2011       10
2  ขอนแก่น  353301-เลย สกษ. จ.เลย    3    10   2011       10

## ปริมาณฝน(มิลลิเมตร)

In [81]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/drive/MyDrive/bsc_DPBM_data_N/อุตุ/ปริมาณฝน(มิลลิเมตร)')

!pwd #เช็ค paht ที่กำลังทำงานอยู่
!ls

/content/drive/MyDrive/bsc_DPBM_data_N/อุตุ/ปริมาณฝน(มิลลิเมตร)
จ.สกล.xlsx  จ.เลย.xlsx	จ.นครพนม.xlsx  จ.หนองคาย.xlsx  จ.ขอนแก่น.xlsx

In [82]:
Rain_KK = pd.read_excel('จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4 )
Rain_KK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Rain_KK.shape) # shown nomber of (row, column)

Rain_L = pd.read_excel('จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4 )
Rain_L.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Rain_L.shape)

Rain_SK = pd.read_excel('จ.สกล.xlsx',sheet_name='Sheet1',skiprows=4 )
Rain_SK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Rain_SK.shape)

Rain_NP = pd.read_excel('จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4 )
Rain_NP.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Rain_NP.shape)

Rain_NK = pd.read_excel('จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4 )
Rain_NK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Rain_NK.shape)

(55, 35)
(55, 35)
(55, 35)
(55, 35)
(55, 35)

In [83]:
Rain_KK.head(3)

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,1.4,17.7,3,0,2.2,0.5,1.3,...,0,0,T,0,0.5,1.1,0,0,0,176.8
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-,11.8
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-

### จังหวัดขอนแก่น

In [84]:
KK = str(Rain_KK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Rain_KK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Rain_KK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('ขอนแก่น')
Rain_KK['จังหวัด'] = A

In [85]:
Rain_KK = Rain_KK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Rain_KK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,1.4,17.7,3,0,2.2,0.5,...,0,0,0,T,0,0.5,1.1,0,0,0
1,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
2,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [86]:
Ra_KK = Rain_KK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Ra_KK.rename(columns={'level_4': 'วัน', 0: 'ปริมาณฝน'}, inplace=True)
Ra_KK = Ra_KK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'ปริมาณฝน']]
Ra_KK.head(3)

   จังหวัด                     สถานี  วัน เดือน     ปี ปริมาณฝน
0  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    1    10   2011      1.4
1  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    2    10   2011     17.7
2  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    3    10   2011        3

### จังหวัดเลย

In [87]:
KK = str(Rain_L['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Rain_L['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Rain_L['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('เลย')
Rain_L['จังหวัด'] = A

In [88]:
Rain_L = Rain_L[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Rain_L.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,เลย,353201-เลย จ.เลย,10,2011,21.6,111.4,0.4,0,0,3.4,...,0,0,0,0,0,0,0.2,0,0,0
1,เลย,353201-เลย จ.เลย,11,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0.6,0,0,-
2,เลย,353201-เลย จ.เลย,12,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
Ra_L = Rain_L.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Ra_L.rename(columns={'level_4': 'วัน', 0: 'ปริมาณฝน'}, inplace=True)
Ra_L = Ra_L[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'ปริมาณฝน']]
Ra_L.head(3)

  จังหวัด             สถานี  วัน เดือน     ปี ปริมาณฝน
0     เลย  353201-เลย จ.เลย    1    10   2011     21.6
1     เลย  353201-เลย จ.เลย    2    10   2011    111.4
2     เลย  353201-เลย จ.เลย    3    10   2011      0.4

### จังหวัดสกลนคร

In [90]:
KK = str(Rain_SK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Rain_SK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Rain_SK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('สกลนคร')
Rain_SK['จังหวัด'] = A

In [91]:
Rain_SK = Rain_SK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Rain_SK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,สกลนคร,356201-สกลนคร จ.สกลนคร,10,2011,84.8,28.1,0,T,5.5,0.3,...,0,0,0,0,0,0,0,1,0,0
1,สกลนคร,356201-สกลนคร จ.สกลนคร,11,2011,0,0,0,0,T,T,...,0,0,0,0,0,0,0,0,0,-
2,สกลนคร,356201-สกลนคร จ.สกลนคร,12,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [92]:
Ra_SK = Rain_SK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Ra_SK.rename(columns={'level_4': 'วัน', 0: 'ปริมาณฝน'}, inplace=True)
Ra_SK = Ra_SK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'ปริมาณฝน']]
Ra_SK.head(3)

  จังหวัด                   สถานี  วัน เดือน     ปี ปริมาณฝน
0  สกลนคร  356201-สกลนคร จ.สกลนคร    1    10   2011     84.8
1  สกลนคร  356201-สกลนคร จ.สกลนคร    2    10   2011     28.1
2  สกลนคร  356201-สกลนคร จ.สกลนคร    3    10   2011        0

### จังหวัดนครพนม

In [93]:
KK = str(Rain_NP['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Rain_NP['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Rain_NP['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('นครพนม')
Rain_NP['จังหวัด'] = A

In [94]:
Rain_NP = Rain_NP[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Rain_NP.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,นครพนม,357201-นครพนม จ.นครพนม,10,2011,17,0.3,0,0.3,1.9,T,...,0,0,0,0,0,0,0,0,0,0
1,นครพนม,357201-นครพนม จ.นครพนม,11,2011,0,0,0,0,T,T,...,T,0,0,0,0,0.5,0,0,0,-
2,นครพนม,357201-นครพนม จ.นครพนม,12,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [95]:
Ra_NP = Rain_NP.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Ra_NP.rename(columns={'level_4': 'วัน', 0: 'ปริมาณฝน'}, inplace=True)
Ra_NP = Ra_NP[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'ปริมาณฝน']]
Ra_NP.head(3)

  จังหวัด                   สถานี  วัน เดือน     ปี ปริมาณฝน
0  นครพนม  357201-นครพนม จ.นครพนม    1    10   2011       17
1  นครพนม  357201-นครพนม จ.นครพนม    2    10   2011      0.3
2  นครพนม  357201-นครพนม จ.นครพนม    3    10   2011        0

### จังหวัดหนองคาย

In [96]:
KK = str(Rain_NK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Rain_NK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Rain_NK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('หนองคาย')
Rain_NK['จังหวัด'] = A

In [97]:
Rain_NK = Rain_NK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Rain_NK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,หนองคาย,352201-หนองคาย จ.หนองคาย,10,2011,48.6,59,0,1,19.1,6.2,...,0,0,0,0,0,0,0,0,0,0
1,หนองคาย,352201-หนองคาย จ.หนองคาย,11,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
2,หนองคาย,352201-หนองคาย จ.หนองคาย,12,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [98]:
Ra_NK = Rain_NK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Ra_NK.rename(columns={'level_4': 'วัน', 0: 'ปริมาณฝน'}, inplace=True)
Ra_NK = Ra_NK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'ปริมาณฝน']]
Ra_NK.head(3)

   จังหวัด                     สถานี  วัน เดือน     ปี ปริมาณฝน
0  หนองคาย  352201-หนองคาย จ.หนองคาย    1    10   2011     48.6
1  หนองคาย  352201-หนองคาย จ.หนองคาย    2    10   2011       59
2  หนองคาย  352201-หนองคาย จ.หนองคาย    3    10   2011        0

### รวมปริมาณฝนทุกจังหวัด

In [99]:
Rain = pd.concat([Ra_KK,Ra_L,Ra_SK,Ra_NP,Ra_NK])
print(Rain.shape)
Rain.head(3)

(8523, 6)

   จังหวัด                     สถานี  วัน เดือน     ปี ปริมาณฝน
0  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    1    10   2011      1.4
1  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    2    10   2011     17.7
2  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    3    10   2011        3

## อุณหภูมิจุดน้ำค้าง(เซลเซียส)

In [100]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/drive/MyDrive/bsc_DPBM_data_N/อุตุ/ปริมาณฝน(มิลลิเมตร)')

!pwd #เช็ค paht ที่กำลังทำงานอยู่
!ls

/content/drive/MyDrive/bsc_DPBM_data_N/อุตุ/ปริมาณฝน(มิลลิเมตร)
จ.สกล.xlsx  จ.เลย.xlsx	จ.นครพนม.xlsx  จ.หนองคาย.xlsx  จ.ขอนแก่น.xlsx

In [101]:
Dew_point_KK = pd.read_excel('จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4 )
Dew_point_KK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Dew_point_KK.shape) # shown nomber of (row, column)

Dew_point_L = pd.read_excel('จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4 )
Dew_point_L.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Dew_point_L.shape)

Dew_point_SK = pd.read_excel('จ.สกล.xlsx',sheet_name='Sheet1',skiprows=4 )
Dew_point_SK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Dew_point_SK.shape)

Dew_point_NP = pd.read_excel('จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4 )
Dew_point_NP.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Dew_point_NP.shape)

Dew_point_NK = pd.read_excel('จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4 )
Dew_point_NK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Dew_point_NK.shape)

(55, 35)
(55, 35)
(55, 35)
(55, 35)
(55, 35)

In [102]:
Dew_point_KK.head(3)

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,1.4,17.7,3,0,2.2,0.5,1.3,...,0,0,T,0,0.5,1.1,0,0,0,176.8
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,-,11.8
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-

### จังหวัดขอนแก่น

In [103]:
KK = str(Dew_point_KK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Dew_point_KK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res   
    A.append(res[1])
Dew_point_KK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('ขอนแก่น')
Dew_point_KK['จังหวัด'] = A

In [104]:
Dew_point_KK = Dew_point_KK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Dew_point_KK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,1.4,17.7,3,0,2.2,0.5,...,0,0,0,T,0,0.5,1.1,0,0,0
1,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
2,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [105]:
Dew_KK = Dew_point_KK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Dew_KK.rename(columns={'level_4': 'วัน', 0: 'อุณหภูมิจุดน้ำค้าง'}, inplace=True)
Dew_KK = Dew_KK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'อุณหภูมิจุดน้ำค้าง']]
Dew_KK.head(3)

   จังหวัด                     สถานี  วัน เดือน     ปี อุณหภูมิจุดน้ำค้าง
0  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    1    10   2011                1.4
1  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    2    10   2011               17.7
2  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    3    10   2011                  3

### จังหวัดเลย

In [106]:
KK = str(Dew_point_L['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Dew_point_L['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Dew_point_L['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('เลย')
Dew_point_L['จังหวัด'] = A

In [107]:
Dew_point_L = Dew_point_L[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Dew_point_L.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,เลย,353201-เลย จ.เลย,10,2011,21.6,111.4,0.4,0,0,3.4,...,0,0,0,0,0,0,0.2,0,0,0
1,เลย,353201-เลย จ.เลย,11,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0.6,0,0,-
2,เลย,353201-เลย จ.เลย,12,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [108]:
Dew_L = Dew_point_L.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Dew_L.rename(columns={'level_4': 'วัน', 0: 'อุณหภูมิจุดน้ำค้าง'}, inplace=True)
Dew_L = Dew_L[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'อุณหภูมิจุดน้ำค้าง']]
Dew_L.head(3)

  จังหวัด             สถานี  วัน เดือน     ปี อุณหภูมิจุดน้ำค้าง
0     เลย  353201-เลย จ.เลย    1    10   2011               21.6
1     เลย  353201-เลย จ.เลย    2    10   2011              111.4
2     เลย  353201-เลย จ.เลย    3    10   2011                0.4

In [109]:
Dew_L['วัน'] = Dew_L['วัน'].astype('int') #แก้ให้วันไม่เป็นจุดทศนิยม แล้วให้ประเภทเป็น str เหมือนเพือ่น
Dew_L.head(3)

  จังหวัด             สถานี  วัน เดือน     ปี อุณหภูมิจุดน้ำค้าง
0     เลย  353201-เลย จ.เลย    1    10   2011               21.6
1     เลย  353201-เลย จ.เลย    2    10   2011              111.4
2     เลย  353201-เลย จ.เลย    3    10   2011                0.4

### จังหวัดสกลนคร

In [110]:
KK = str(Dew_point_SK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Dew_point_SK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Dew_point_SK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('สกลนคร')
Dew_point_SK['จังหวัด'] = A

In [111]:
Dew_point_SK = Dew_point_SK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Dew_point_SK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,สกลนคร,356201-สกลนคร จ.สกลนคร,10,2011,84.8,28.1,0,T,5.5,0.3,...,0,0,0,0,0,0,0,1,0,0
1,สกลนคร,356201-สกลนคร จ.สกลนคร,11,2011,0,0,0,0,T,T,...,0,0,0,0,0,0,0,0,0,-
2,สกลนคร,356201-สกลนคร จ.สกลนคร,12,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [112]:
Dew_SK = Dew_point_SK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Dew_SK.rename(columns={'level_4': 'วัน', 0: 'อุณหภูมิจุดน้ำค้าง'}, inplace=True)
Dew_SK = Dew_SK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'อุณหภูมิจุดน้ำค้าง']]
Dew_SK.head(3)

  จังหวัด                   สถานี  วัน เดือน     ปี อุณหภูมิจุดน้ำค้าง
0  สกลนคร  356201-สกลนคร จ.สกลนคร    1    10   2011               84.8
1  สกลนคร  356201-สกลนคร จ.สกลนคร    2    10   2011               28.1
2  สกลนคร  356201-สกลนคร จ.สกลนคร    3    10   2011                  0

In [113]:
Dew_SK['วัน'] = Dew_SK['วัน'].astype('int') #แก้ให้วันไม่เป็นจุดทศนิยม แล้วให้ประเภทเป็น str เหมือนเพือ่น
Dew_SK.head(3)

  จังหวัด                   สถานี  วัน เดือน     ปี อุณหภูมิจุดน้ำค้าง
0  สกลนคร  356201-สกลนคร จ.สกลนคร    1    10   2011               84.8
1  สกลนคร  356201-สกลนคร จ.สกลนคร    2    10   2011               28.1
2  สกลนคร  356201-สกลนคร จ.สกลนคร    3    10   2011                  0

### จังหวัดนครพนม

In [114]:
KK = str(Dew_point_NP['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Dew_point_NP['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Dew_point_NP['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('นครพนม')
Dew_point_NP['จังหวัด'] = A

In [115]:
Dew_point_NP = Dew_point_NP[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Dew_point_NP.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,นครพนม,357201-นครพนม จ.นครพนม,10,2011,17,0.3,0,0.3,1.9,T,...,0,0,0,0,0,0,0,0,0,0
1,นครพนม,357201-นครพนม จ.นครพนม,11,2011,0,0,0,0,T,T,...,T,0,0,0,0,0.5,0,0,0,-
2,นครพนม,357201-นครพนม จ.นครพนม,12,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [116]:
Dew_NP = Dew_point_NP.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Dew_NP.rename(columns={'level_4': 'วัน', 0: 'อุณหภูมิจุดน้ำค้าง'}, inplace=True)
Dew_NP = Dew_NP[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'อุณหภูมิจุดน้ำค้าง']]
Dew_NP.head(3)

  จังหวัด                   สถานี  วัน เดือน     ปี อุณหภูมิจุดน้ำค้าง
0  นครพนม  357201-นครพนม จ.นครพนม    1    10   2011                 17
1  นครพนม  357201-นครพนม จ.นครพนม    2    10   2011                0.3
2  นครพนม  357201-นครพนม จ.นครพนม    3    10   2011                  0

### จังหวัดหนองคาย

In [117]:
KK = str(Dew_point_NK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Dew_point_NK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Dew_point_NK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('หนองคาย')
Dew_point_NK['จังหวัด'] = A

In [118]:
Dew_point_NK = Dew_point_NK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Dew_point_NK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,หนองคาย,352201-หนองคาย จ.หนองคาย,10,2011,48.6,59,0,1,19.1,6.2,...,0,0,0,0,0,0,0,0,0,0
1,หนองคาย,352201-หนองคาย จ.หนองคาย,11,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,-
2,หนองคาย,352201-หนองคาย จ.หนองคาย,12,2011,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [119]:
Dew_NK = Dew_point_NK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Dew_NK.rename(columns={'level_4': 'วัน', 0: 'อุณหภูมิจุดน้ำค้าง'}, inplace=True)
Dew_NK = Dew_NK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'อุณหภูมิจุดน้ำค้าง']]
Dew_NK.head(3)

   จังหวัด                     สถานี  วัน เดือน     ปี อุณหภูมิจุดน้ำค้าง
0  หนองคาย  352201-หนองคาย จ.หนองคาย    1    10   2011               48.6
1  หนองคาย  352201-หนองคาย จ.หนองคาย    2    10   2011                 59
2  หนองคาย  352201-หนองคาย จ.หนองคาย    3    10   2011                  0

### รวมอุณหภูมิจุดน้ำค้างทุกจังหวัด

In [120]:
Dew_point = pd.concat([Dew_KK,Dew_L,Dew_SK,Dew_NP,Dew_NK])
print(Dew_point.shape)
Dew_point.head(3)

(8523, 6)

   จังหวัด                     สถานี  วัน เดือน     ปี อุณหภูมิจุดน้ำค้าง
0  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    1    10   2011                1.4
1  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    2    10   2011               17.7
2  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    3    10   2011                  3

## อุณหภูมิตุ้มแห้ง(เซลเซียส)

In [121]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/drive/MyDrive/bsc_DPBM_data_N/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)')

!pwd #เช็ค paht ที่กำลังทำงานอยู่
!ls

/content/drive/MyDrive/bsc_DPBM_data_N/อุตุ/อุณหภูมิตุ้มแห้ง(เซลเซียส)
จ.สกล.xlsx  จ.เลย.xlsx	จ.นครพนม.xlsx  จ.หนองคาย.xlsx  จ.ขอนแก่น.xlsx

In [122]:
Dry_bulb_KK = pd.read_excel('จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4 )
Dry_bulb_KK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Dry_bulb_KK.shape) # shown nomber of (row, column)

Dry_bulb_L = pd.read_excel('จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4 )
Dry_bulb_L.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Dry_bulb_L.shape)

Dry_bulb_SK = pd.read_excel('จ.สกล.xlsx',sheet_name='Sheet1',skiprows=4 )
Dry_bulb_SK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Dry_bulb_SK.shape)

Dry_bulb_NP = pd.read_excel('จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4 )
Dry_bulb_NP.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Dry_bulb_NP.shape)

Dry_bulb_NK = pd.read_excel('จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4 )
Dry_bulb_NK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Dry_bulb_NK.shape)

(55, 35)
(50, 35)
(55, 35)
(55, 35)
(55, 35)

In [123]:
Dry_bulb_KK.head(3)

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,27.6,25.6,25.6,25.8,24.3,24.0,25.1,...,26.7,27.6,27.4,27.2,27.3,26.9,26.3,25.8,26.2,26.2
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,26.3,26.3,26.3,26.6,26.8,27.5,27.9,...,26.5,23.9,24.4,25.5,26.1,26.2,26,26,-,25.8
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,25.4,23.9,21.3,22.3,23.0,25.6,25.4,...,23.6,21.1,18.3,18.3,20.4,23.5,23.7,24.2,24.1,22.4

### จังหวัดขอนแก่น

In [124]:
KK = str(Dry_bulb_KK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Dry_bulb_KK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Dry_bulb_KK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('ขอนแก่น')
Dry_bulb_KK['จังหวัด'] = A

In [125]:
Dry_bulb_KK = Dry_bulb_KK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Dry_bulb_KK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,27.6,25.6,25.6,25.8,24.3,24.0,...,26.5,26.7,27.6,27.4,27.2,27.3,26.9,26.3,25.8,26.2
1,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2011,26.3,26.3,26.3,26.6,26.8,27.5,...,26.7,26.5,23.9,24.4,25.5,26.1,26.2,26,26,-
2,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2011,25.4,23.9,21.3,22.3,23.0,25.6,...,23.9,23.6,21.1,18.3,18.3,20.4,23.5,23.7,24.2,24.1

In [126]:
Dry_KK = Dry_bulb_KK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Dry_KK.rename(columns={'level_4': 'วัน', 0: 'อุณหภูมิตุ้มแห้ง'}, inplace=True)
Dry_KK = Dry_KK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'อุณหภูมิตุ้มแห้ง']]
Dry_KK.head(3)

   จังหวัด                     สถานี  วัน เดือน     ปี อุณหภูมิตุ้มแห้ง
0  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    1    10   2011             27.6
1  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    2    10   2011             25.6
2  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    3    10   2011             25.6

### จังหวัดเลย

In [127]:
KK = str(Dry_bulb_L['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Dry_bulb_L['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res   
    A.append(res[1])
Dry_bulb_L['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('เลย')
Dry_bulb_L['จังหวัด'] = A

In [128]:
Dry_bulb_L = Dry_bulb_L[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Dry_bulb_L.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,เลย,353201-เลย จ.เลย,10,2011,26.3,25.1,24.4,25.2,25.6,23.7,...,25.7,25.8,26.1,26.1,26.2,25.9,25.6,26.3,25.6,24.8
1,เลย,353201-เลย จ.เลย,11,2011,25.3,24.7,24.5,24.4,24.9,25.4,...,25.5,26.3,23.6,22.9,23.3,24.5,24.1,25.5,25.5,-
2,เลย,353201-เลย จ.เลย,12,2011,23.9,22.9,21.0,20.9,22.3,21.6,...,21.3,21.8,19.8,16.6,16.4,17.6,21.1,22.7,22.6,23.2

In [129]:
Dry_L = Dry_bulb_L.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Dry_L.rename(columns={'level_4': 'วัน', 0: 'อุณหภูมิตุ้มแห้ง'}, inplace=True)
Dry_L = Dry_L[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'อุณหภูมิตุ้มแห้ง']]
Dry_L.head(3)

  จังหวัด             สถานี  วัน เดือน     ปี อุณหภูมิตุ้มแห้ง
0     เลย  353201-เลย จ.เลย    1    10   2011             26.3
1     เลย  353201-เลย จ.เลย    2    10   2011             25.1
2     เลย  353201-เลย จ.เลย    3    10   2011             24.4

### จังหวัดสกลนคร

In [130]:
KK = str(Dry_bulb_SK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Dry_bulb_SK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Dry_bulb_SK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('สกลนคร')
Dry_bulb_SK['จังหวัด'] = A

In [131]:
Dry_bulb_SK = Dry_bulb_SK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Dry_bulb_SK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,สกลนคร,356201-สกลนคร จ.สกลนคร,10,2011,26.9,25.9,25.7,25.2,23.6,23.5,...,25.8,26.2,27.0,26.6,26.9,27.1,27.5,25.4,25.2,25.5
1,สกลนคร,356201-สกลนคร จ.สกลนคร,11,2011,25.7,25.5,25.5,26.1,26.7,27.8,...,26.0,25.8,23.8,23.7,24.8,25.6,25.7,25.3,25.4,-
2,สกลนคร,356201-สกลนคร จ.สกลนคร,12,2011,25.4,22.4,19.9,21.0,22.0,23.5,...,22.7,21.4,19.4,17.1,18.1,20.0,22.0,22.7,22.9,22.3

In [132]:
Dry_SK = Dry_bulb_SK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Dry_SK.rename(columns={'level_4': 'วัน', 0: 'อุณหภูมิตุ้มแห้ง'}, inplace=True)
Dry_SK = Dry_SK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'อุณหภูมิตุ้มแห้ง']]
Dry_SK.head(3)

  จังหวัด                   สถานี  วัน เดือน     ปี อุณหภูมิตุ้มแห้ง
0  สกลนคร  356201-สกลนคร จ.สกลนคร    1    10   2011             26.9
1  สกลนคร  356201-สกลนคร จ.สกลนคร    2    10   2011             25.9
2  สกลนคร  356201-สกลนคร จ.สกลนคร    3    10   2011             25.7

### จังหวัดนครพนม

In [133]:
KK = str(Dry_bulb_NP['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Dry_bulb_NP['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Dry_bulb_NP['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('นครพนม')
Dry_bulb_NP['จังหวัด'] = A

In [134]:
Dry_bulb_NP = Dry_bulb_NP[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Dry_bulb_NP.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,นครพนม,357201-นครพนม จ.นครพนม,10,2011,25.9,26.1,25.3,24.7,23.1,23.2,...,26.4,27.3,27.9,27.0,27.2,27.1,27.6,25.5,25.8,25.9
1,นครพนม,357201-นครพนม จ.นครพนม,11,2011,25.8,25.8,25.5,26.8,26.5,27.8,...,26.0,25.5,23.7,23.9,24.8,25.2,26.2,26.2,26.2,-
2,นครพนม,357201-นครพนม จ.นครพนม,12,2011,25.4,22.1,20.4,21.3,22.6,23.1,...,22.8,21.6,20.0,17.4,18.0,20.0,22.0,23.9,23.2,21.9

In [135]:
Dry_NP = Dry_bulb_NP.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Dry_NP.rename(columns={'level_4': 'วัน', 0: 'อุณหภูมิตุ้มแห้ง'}, inplace=True)
Dry_NP = Dry_NP[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'อุณหภูมิตุ้มแห้ง']]
Dry_NP.head(3)

  จังหวัด                   สถานี  วัน เดือน     ปี อุณหภูมิตุ้มแห้ง
0  นครพนม  357201-นครพนม จ.นครพนม    1    10   2011             25.9
1  นครพนม  357201-นครพนม จ.นครพนม    2    10   2011             26.1
2  นครพนม  357201-นครพนม จ.นครพนม    3    10   2011             25.3

### จังหวัดหนองคาย

In [136]:
KK = str(Dry_bulb_NK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Dry_bulb_NK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res   
    A.append(res[1])
Dry_bulb_NK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('หนองคาย')
Dry_bulb_NK['จังหวัด'] = A

In [137]:
Dry_bulb_NK = Dry_bulb_NK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Dry_bulb_NK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,หนองคาย,352201-หนองคาย จ.หนองคาย,10,2011,26.7,25.5,27.0,26.8,24.9,24.3,...,27.2,27.7,27.9,28.0,27.8,27.8,27.4,27.2,27,27.2
1,หนองคาย,352201-หนองคาย จ.หนองคาย,11,2011,26.3,26.4,26.3,26.5,27.1,27.4,...,27.0,26.8,23.9,23.9,25.2,25.6,26.0,25.7,25.8,-
2,หนองคาย,352201-หนองคาย จ.หนองคาย,12,2011,25.6,23.6,21.4,21.9,23.2,24.7,...,22.9,22.5,20.9,17.0,17.4,19.8,22.8,23.9,24.6,23.5

In [138]:
Dry_NK = Dry_bulb_NK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Dry_NK.rename(columns={'level_4': 'วัน', 0: 'อุณหภูมิตุ้มแห้ง'}, inplace=True)
Dry_NK = Dry_NK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'อุณหภูมิตุ้มแห้ง']]
Dry_NK.head(3)

   จังหวัด                     สถานี  วัน เดือน     ปี อุณหภูมิตุ้มแห้ง
0  หนองคาย  352201-หนองคาย จ.หนองคาย    1    10   2011             26.7
1  หนองคาย  352201-หนองคาย จ.หนองคาย    2    10   2011             25.5
2  หนองคาย  352201-หนองคาย จ.หนองคาย    3    10   2011             27.0

### รวมอุณหภูมิตุ้มแห้งทุกจังหวัด

In [139]:
Dry_bulb = pd.concat([Dry_KK,Dry_L,Dry_SK,Dry_NP,Dry_NK])
print(Dry_bulb.shape)
Dry_bulb.head(3)

(8370, 6)

   จังหวัด                     สถานี  วัน เดือน     ปี อุณหภูมิตุ้มแห้ง
0  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    1    10   2011             27.6
1  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    2    10   2011             25.6
2  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    3    10   2011             25.6

## อุณหภูมิต่ำสุด(เซลเซียส)

In [140]:
#เข้าไป path ใน google drive
import os
os.chdir('/content/drive/MyDrive/bsc_DPBM_data_N/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)')

!pwd #เช็ค paht ที่กำลังทำงานอยู่
!ls

/content/drive/MyDrive/bsc_DPBM_data_N/อุตุ/อุณหภูมิต่ำสุด(เซลเซียส)
จ.สกล.xlsx  จ.เลย.xlsx	จ.นครพนม.xlsx  จ.หนองคาย.xlsx  จ.ขอนแก่น.xlsx

In [141]:
Lowest_temp_KK = pd.read_excel('จ.ขอนแก่น.xlsx',sheet_name='Sheet1',skiprows=4 )
Lowest_temp_KK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Lowest_temp_KK.shape) # shown nomber of (row, column)

Lowest_temp_L = pd.read_excel('จ.เลย.xlsx',sheet_name='Sheet1',skiprows=4 )
Lowest_temp_L.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Lowest_temp_L.shape)

Lowest_temp_SK = pd.read_excel('จ.สกล.xlsx',sheet_name='Sheet1',skiprows=4 )
Lowest_temp_SK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Lowest_temp_SK.shape)

Lowest_temp_NP = pd.read_excel('จ.นครพนม.xlsx',sheet_name='Sheet1',skiprows=4 )
Lowest_temp_NP.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Lowest_temp_NP.shape)

Lowest_temp_NK = pd.read_excel('จ.หนองคาย.xlsx',sheet_name='Sheet1',skiprows=4 )
Lowest_temp_NK.rename(columns={'Unnamed: 0': 'ที่', 'Unnamed: 1': 'สถานี','Unnamed: 2': 'เดือน/ปี' ,'Unnamed: 34': 'เฉลี่ย'}, inplace=True)
print(Lowest_temp_NK.shape)

(55, 35)
(55, 35)
(55, 35)
(55, 35)
(55, 35)

In [142]:
Lowest_temp_KK.head(3)

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,381201-ขอนแก่น จ.ขอนแก่น,2011-10-01,24.8,23.0,22.1,22.8,23.1,21.7,22.0,...,21.3,22,22.7,21.6,21.7,22.4,21.7,20.2,21.1,22.4
1,2,381201-ขอนแก่น จ.ขอนแก่น,2011-11-01,20.7,20.4,20.5,20.9,20.6,22.2,23.8,...,21.5,18.5,18.4,18.9,20.2,20.1,20.2,19.8,-,20.3
2,3,381201-ขอนแก่น จ.ขอนแก่น,2011-12-01,19.3,18.9,15.4,15.6,16.3,20.2,20.8,...,17.1,16.5,12.1,11.6,13.2,16.5,16.7,18.4,17,16.4

### จังหวัดขอนแก่น

In [143]:
KK = str(Lowest_temp_KK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Lowest_temp_KK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res   
    A.append(res[1])
Lowest_temp_KK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('ขอนแก่น')
Lowest_temp_KK['จังหวัด'] = A

In [144]:
Lowest_temp_KK = Lowest_temp_KK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Lowest_temp_KK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,10,2011,24.8,23.0,22.1,22.8,23.1,21.7,...,21.6,21.3,22,22.7,21.6,21.7,22.4,21.7,20.2,21.1
1,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,11,2011,20.7,20.4,20.5,20.9,20.6,22.2,...,21.4,21.5,18.5,18.4,18.9,20.2,20.1,20.2,19.8,-
2,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,12,2011,19.3,18.9,15.4,15.6,16.3,20.2,...,17.6,17.1,16.5,12.1,11.6,13.2,16.5,16.7,18.4,17

In [145]:
Lowest_KK = Lowest_temp_KK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Lowest_KK.rename(columns={'level_4': 'วัน', 0: 'อุณหภูมิต่ำสุด'}, inplace=True)
Lowest_KK = Lowest_KK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'อุณหภูมิต่ำสุด']]
Lowest_KK.head(3)

   จังหวัด                     สถานี  วัน เดือน     ปี อุณหภูมิต่ำสุด
0  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    1    10   2011           24.8
1  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    2    10   2011           23.0
2  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    3    10   2011           22.1

### จังหวัดเลย

In [146]:
KK = str(Lowest_temp_L['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Lowest_temp_L['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Lowest_temp_L['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('เลย')
Lowest_temp_L['จังหวัด'] = A

In [147]:
Lowest_temp_L = Lowest_temp_L[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Lowest_temp_L.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,เลย,353201-เลย จ.เลย,10,2011,23.5,24.3,22.5,23.0,22.7,23.2,...,21.0,20.9,21.5,21.6,21.8,21.5,21.2,21.8,21,20.5
1,เลย,353201-เลย จ.เลย,11,2011,20.7,19.9,19.1,19.0,19.5,19.8,...,20.5,21.7,18.6,16.9,17.0,19.2,19.3,20.3,19.5,-
2,เลย,353201-เลย จ.เลย,12,2011,18,19.6,15.5,14.4,17.1,15.5,...,15.0,16.9,15.0,11.1,9.9,10.0,13,15.9,16.5,16.4

In [148]:
Lowest_L = Lowest_temp_L.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Lowest_L.rename(columns={'level_4': 'วัน', 0: 'อุณหภูมิต่ำสุด'}, inplace=True)
Lowest_L = Lowest_L[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'อุณหภูมิต่ำสุด']]
Lowest_L.head(3)

  จังหวัด             สถานี  วัน เดือน     ปี อุณหภูมิต่ำสุด
0     เลย  353201-เลย จ.เลย    1    10   2011           23.5
1     เลย  353201-เลย จ.เลย    2    10   2011           24.3
2     เลย  353201-เลย จ.เลย    3    10   2011           22.5

### จังหวัดสกลนคร

In [149]:
KK = str(Lowest_temp_SK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน 
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Lowest_temp_SK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() 
for i in KK: 
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res   
    A.append(res[1])
Lowest_temp_SK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('สกลนคร')
Lowest_temp_SK['จังหวัด'] = A

In [150]:
Lowest_temp_SK = Lowest_temp_SK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Lowest_temp_SK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,สกลนคร,356201-สกลนคร จ.สกลนคร,10,2011,24.5,23.1,22.6,21.8,22.5,21.1,...,21.1,22.4,22.4,22.6,22.1,22.2,24.3,22,20.7,20.7
1,สกลนคร,356201-สกลนคร จ.สกลนคร,11,2011,20.5,20.5,20.4,20.6,21.5,24.0,...,22.0,22.5,20.9,18.5,19.0,19.8,20,19.9,19.6,-
2,สกลนคร,356201-สกลนคร จ.สกลนคร,12,2011,19.5,19.3,14.0,15.3,15.8,18.0,...,17.3,16.2,16.7,11.7,13.0,12.6,15.3,16.4,17.2,17

In [151]:
Lowest_SK = Lowest_temp_SK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Lowest_SK.rename(columns={'level_4': 'วัน', 0: 'อุณหภูมิต่ำสุด'}, inplace=True)
Lowest_SK = Lowest_SK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'อุณหภูมิต่ำสุด']]
Lowest_SK.head(3)

  จังหวัด                   สถานี  วัน เดือน     ปี อุณหภูมิต่ำสุด
0  สกลนคร  356201-สกลนคร จ.สกลนคร    1    10   2011           24.5
1  สกลนคร  356201-สกลนคร จ.สกลนคร    2    10   2011           23.1
2  สกลนคร  356201-สกลนคร จ.สกลนคร    3    10   2011           22.6

### จังหวัดนครพนม

In [152]:
KK = str(Lowest_temp_NP['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Lowest_temp_NP['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Lowest_temp_NP['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('นครพนม')
Lowest_temp_NP['จังหวัด'] = A

In [153]:
Lowest_temp_NP = Lowest_temp_NP[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Lowest_temp_NP.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,นครพนม,357201-นครพนม จ.นครพนม,10,2011,25.0,23.4,22.2,20.6,21.1,21.0,...,21,22,22.5,22.2,22.2,22.3,23.5,21.5,20.5,21
1,นครพนม,357201-นครพนม จ.นครพนม,11,2011,20.4,20.5,19.7,20.6,21.3,23.7,...,21.5,21.7,19.2,18.8,18.8,19.6,20.4,19.8,20.9,-
2,นครพนม,357201-นครพนม จ.นครพนม,12,2011,19.4,19.8,14.1,14.5,15,18.1,...,17.7,15.8,19.0,13.2,11.6,12.0,14.6,18.6,17.7,15.8

In [154]:
Lowest_NP = Lowest_temp_NP.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Lowest_NP.rename(columns={'level_4': 'วัน', 0: 'อุณหภูมิต่ำสุด'}, inplace=True)
Lowest_NP = Lowest_NP[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'อุณหภูมิต่ำสุด']]
Lowest_NP.head(3)

  จังหวัด                   สถานี  วัน เดือน     ปี อุณหภูมิต่ำสุด
0  นครพนม  357201-นครพนม จ.นครพนม    1    10   2011           25.0
1  นครพนม  357201-นครพนม จ.นครพนม    2    10   2011           23.4
2  นครพนม  357201-นครพนม จ.นครพนม    3    10   2011           22.2

### จังหวัดหนองคาย

In [155]:
KK = str(Lowest_temp_NK['เดือน/ปี']).split('\n')
KK.pop()

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res
    resSp = res[0].split('   ')
    A.append(resSp[1])
Lowest_temp_NK['ปี'] = A # ตั้งชื่อคอลัมน์ว่า ปี แล้วเก็บในตาราง

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    res = i.split('-') # split ใช้สำหรับแยก โดยในที่นี้แยกด้วย / แล้วตั้งชื่อว่า res    
    A.append(res[1])
Lowest_temp_NK['เดือน'] = A

A = list() # สร้างตัวแปร A มาเก็บ list ว่าง
for i in KK: # วนลูปใน list
    A.append('หนองคาย')
Lowest_temp_NK['จังหวัด'] = A

In [156]:
Lowest_temp_NK = Lowest_temp_NK[['จังหวัด','สถานี','เดือน',  'ปี',         1,          2,          3,
                4,          5,          6,          7,          8,          9,
               10,         11,         12,         13,         14,         15,
               16,         17,         18,         19,         20,         21,
               22,         23,         24,         25,         26,         27,
               28,         29,         30,         31]]
Lowest_temp_NK.head(3)

,จังหวัด,สถานี,เดือน,ปี,1,2,3,4,5,6,...,22,23,24,25,26,27,28,29,30,31
0,หนองคาย,352201-หนองคาย จ.หนองคาย,10,2011,25.3,23.3,23.6,23.8,23.3,22.0,...,22.7,23.4,23.9,23.0,23.2,23.2,22.8,22.5,23,23.4
1,หนองคาย,352201-หนองคาย จ.หนองคาย,11,2011,21.2,21.4,21.0,21.3,22.0,22.6,...,22.0,23.1,20.0,18.0,19.2,20.0,21,21.1,20.1,-
2,หนองคาย,352201-หนองคาย จ.หนองคาย,12,2011,20.0,20.1,15.0,15.5,17.2,18.8,...,17.2,16.3,19.0,12.0,11.1,12.7,16,18,18.8,17.5

In [157]:
Lowest_NK = Lowest_temp_NK.set_index(['จังหวัด','สถานี','เดือน','ปี']).stack().reset_index()
Lowest_NK.rename(columns={'level_4': 'วัน', 0: 'อุณหภูมิต่ำสุด'}, inplace=True)
Lowest_NK = Lowest_NK[['จังหวัด','สถานี','วัน','เดือน',  'ปี', 'อุณหภูมิต่ำสุด']]
Lowest_NK.head(3)

   จังหวัด                     สถานี  วัน เดือน     ปี อุณหภูมิต่ำสุด
0  หนองคาย  352201-หนองคาย จ.หนองคาย    1    10   2011           25.3
1  หนองคาย  352201-หนองคาย จ.หนองคาย    2    10   2011           23.3
2  หนองคาย  352201-หนองคาย จ.หนองคาย    3    10   2011           23.6

### รวมอุณหภูมิต่ำสุดทุกจังหวัด

In [158]:
Lowest_temp = pd.concat([Lowest_KK,Lowest_L,Lowest_SK,Lowest_NP,Lowest_NK])
print(Lowest_temp.shape)
Lowest_temp.head(3)

(8525, 6)

   จังหวัด                     สถานี  วัน เดือน     ปี อุณหภูมิต่ำสุด
0  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    1    10   2011           24.8
1  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    2    10   2011           23.0
2  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น    3    10   2011           22.1

# รวมตาราง

In [159]:
print(Pressure.shape)
print(Humidity.shape)
print(Wind.shape)
print(Cloud.shape)
print(Rain.shape)
print(Dew_point.shape)
print(Dry_bulb.shape)
print(Lowest_temp.shape)

(8525, 6)
(8525, 6)
(8525, 6)
(8522, 6)
(8523, 6)
(8523, 6)
(8370, 6)
(8525, 6)

In [160]:
Pressure.rename(columns={'สถานี': 'สถานี_Pressure'}, inplace=True)
Humidity.rename(columns={'สถานี': 'สถานี_Humidity'}, inplace=True)
Wind.rename(columns={'สถานี': 'สถานี_Wind'}, inplace=True)
Cloud.rename(columns={'สถานี': 'สถานี_Cloud'}, inplace=True)
Rain.rename(columns={'สถานี': 'สถานี_Rain'}, inplace=True)
Dew_point.rename(columns={'สถานี': 'สถานี_Dew_point'}, inplace=True)
Dry_bulb.rename(columns={'สถานี': 'สถานี_Dry_bulb'}, inplace=True)
Lowest_temp.rename(columns={'สถานี': 'สถานี_Lowest_temp'}, inplace=True)

In [161]:
Pressure.head(3)# check ว่าชื่อสถานีเปลี่ยนมั้ย

   จังหวัด            สถานี_Pressure  วัน เดือน     ปี   ความกด
0  ขอนแก่น  352201-หนองคาย จ.หนองคาย  1.0    10   2011  1005.47
1  ขอนแก่น  352201-หนองคาย จ.หนองคาย  2.0    10   2011  1006.65
2  ขอนแก่น  352201-หนองคาย จ.หนองคาย  3.0    10   2011  1007.49

In [162]:
merge1 = Pressure.merge(Humidity, how ='inner', left_on=['จังหวัด', 'วัน',	'เดือน',	'ปี'],right_on=['จังหวัด', 'วัน',	'เดือน',	'ปี'])
print(merge1.shape)
merge1.head(3)

(8525, 8)

,จังหวัด,สถานี_Pressure,วัน,เดือน,ปี,ความกด,สถานี_Humidity,ความชื้น
0,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1.0,10,2011,1005.47,381201-ขอนแก่น จ.ขอนแก่น,83
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2.0,10,2011,1006.65,381201-ขอนแก่น จ.ขอนแก่น,92
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,3.0,10,2011,1007.49,381201-ขอนแก่น จ.ขอนแก่น,86

In [163]:
merge1.any().isnull()

จังหวัด           False
สถานี_Pressure    False
วัน               False
เดือน             False
ปี                False
ความกด            False
สถานี_Humidity    False
ความชื้น          False
dtype: bool

In [164]:
merge2 = merge1.merge(Wind, how ='inner', left_on=['จังหวัด', 'วัน',	'เดือน',	'ปี'],right_on=['จังหวัด', 'วัน',	'เดือน',	'ปี'])
print(merge2.shape)
merge2.head(3)

(8525, 10)

,จังหวัด,สถานี_Pressure,วัน,เดือน,ปี,ความกด,สถานี_Humidity,ความชื้น,สถานี_Wind,ความเร็วลม
0,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1.0,10,2011,1005.47,381201-ขอนแก่น จ.ขอนแก่น,83,353301-เลย สกษ. จ.เลย,3
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2.0,10,2011,1006.65,381201-ขอนแก่น จ.ขอนแก่น,92,353301-เลย สกษ. จ.เลย,2
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,3.0,10,2011,1007.49,381201-ขอนแก่น จ.ขอนแก่น,86,353301-เลย สกษ. จ.เลย,3

In [165]:
merge2.any().isnull()

จังหวัด           False
สถานี_Pressure    False
วัน               False
เดือน             False
ปี                False
ความกด            False
สถานี_Humidity    False
ความชื้น          False
สถานี_Wind        False
ความเร็วลม        False
dtype: bool

In [166]:
merge3 = merge2.merge(Cloud, how ='inner', left_on=['จังหวัด', 'วัน',	'เดือน',	'ปี'],right_on=['จังหวัด', 'วัน',	'เดือน',	'ปี'])
print(merge3.shape)
merge3.head(3)

(8522, 12)

,จังหวัด,สถานี_Pressure,วัน,เดือน,ปี,ความกด,สถานี_Humidity,ความชื้น,สถานี_Wind,ความเร็วลม,สถานี_Cloud,จำนวนเมฆ
0,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1.0,10,2011,1005.47,381201-ขอนแก่น จ.ขอนแก่น,83,353301-เลย สกษ. จ.เลย,3,353301-เลย สกษ. จ.เลย,9
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2.0,10,2011,1006.65,381201-ขอนแก่น จ.ขอนแก่น,92,353301-เลย สกษ. จ.เลย,2,353301-เลย สกษ. จ.เลย,10
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,3.0,10,2011,1007.49,381201-ขอนแก่น จ.ขอนแก่น,86,353301-เลย สกษ. จ.เลย,3,353301-เลย สกษ. จ.เลย,10

In [167]:
merge3.any().isnull()

จังหวัด           False
สถานี_Pressure    False
วัน               False
เดือน             False
ปี                False
ความกด            False
สถานี_Humidity    False
ความชื้น          False
สถานี_Wind        False
ความเร็วลม        False
สถานี_Cloud       False
จำนวนเมฆ          False
dtype: bool

In [168]:
merge4 = merge3.merge(Rain, how ='inner', left_on=['จังหวัด', 'วัน',	'เดือน',	'ปี'],right_on=['จังหวัด', 'วัน',	'เดือน',	'ปี'])
print(merge4.shape)
merge4.head(3)

(8520, 14)

,จังหวัด,สถานี_Pressure,วัน,เดือน,ปี,ความกด,สถานี_Humidity,ความชื้น,สถานี_Wind,ความเร็วลม,สถานี_Cloud,จำนวนเมฆ,สถานี_Rain,ปริมาณฝน
0,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1.0,10,2011,1005.47,381201-ขอนแก่น จ.ขอนแก่น,83,353301-เลย สกษ. จ.เลย,3,353301-เลย สกษ. จ.เลย,9,381201-ขอนแก่น จ.ขอนแก่น,1.4
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2.0,10,2011,1006.65,381201-ขอนแก่น จ.ขอนแก่น,92,353301-เลย สกษ. จ.เลย,2,353301-เลย สกษ. จ.เลย,10,381201-ขอนแก่น จ.ขอนแก่น,17.7
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,3.0,10,2011,1007.49,381201-ขอนแก่น จ.ขอนแก่น,86,353301-เลย สกษ. จ.เลย,3,353301-เลย สกษ. จ.เลย,10,381201-ขอนแก่น จ.ขอนแก่น,3

In [169]:
merge4.any().isnull()

จังหวัด           False
สถานี_Pressure    False
วัน               False
เดือน             False
ปี                False
ความกด            False
สถานี_Humidity    False
ความชื้น          False
สถานี_Wind        False
ความเร็วลม        False
สถานี_Cloud       False
จำนวนเมฆ          False
สถานี_Rain        False
ปริมาณฝน          False
dtype: bool

In [170]:
merge5 = merge4.merge(Dew_point, how ='inner', left_on=['จังหวัด', 'วัน',	'เดือน',	'ปี'],right_on=['จังหวัด', 'วัน',	'เดือน',	'ปี'])
print(merge5.shape)
merge5.head(3)

(8520, 16)

,จังหวัด,สถานี_Pressure,วัน,เดือน,ปี,ความกด,สถานี_Humidity,ความชื้น,สถานี_Wind,ความเร็วลม,สถานี_Cloud,จำนวนเมฆ,สถานี_Rain,ปริมาณฝน,สถานี_Dew_point,อุณหภูมิจุดน้ำค้าง
0,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1.0,10,2011,1005.47,381201-ขอนแก่น จ.ขอนแก่น,83,353301-เลย สกษ. จ.เลย,3,353301-เลย สกษ. จ.เลย,9,381201-ขอนแก่น จ.ขอนแก่น,1.4,381201-ขอนแก่น จ.ขอนแก่น,1.4
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2.0,10,2011,1006.65,381201-ขอนแก่น จ.ขอนแก่น,92,353301-เลย สกษ. จ.เลย,2,353301-เลย สกษ. จ.เลย,10,381201-ขอนแก่น จ.ขอนแก่น,17.7,381201-ขอนแก่น จ.ขอนแก่น,17.7
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,3.0,10,2011,1007.49,381201-ขอนแก่น จ.ขอนแก่น,86,353301-เลย สกษ. จ.เลย,3,353301-เลย สกษ. จ.เลย,10,381201-ขอนแก่น จ.ขอนแก่น,3,381201-ขอนแก่น จ.ขอนแก่น,3

In [171]:
merge5.any().isnull()

จังหวัด               False
สถานี_Pressure        False
วัน                   False
เดือน                 False
ปี                    False
ความกด                False
สถานี_Humidity        False
ความชื้น              False
สถานี_Wind            False
ความเร็วลม            False
สถานี_Cloud           False
จำนวนเมฆ              False
สถานี_Rain            False
ปริมาณฝน              False
สถานี_Dew_point       False
อุณหภูมิจุดน้ำค้าง    False
dtype: bool

In [172]:
merge6 = merge5.merge(Dry_bulb, how ='inner', left_on=['จังหวัด', 'วัน',	'เดือน',	'ปี'],right_on=['จังหวัด', 'วัน',	'เดือน',	'ปี'])
print(merge6.shape)
merge6.head(3)

(8365, 18)

,จังหวัด,สถานี_Pressure,วัน,เดือน,ปี,ความกด,สถานี_Humidity,ความชื้น,สถานี_Wind,ความเร็วลม,สถานี_Cloud,จำนวนเมฆ,สถานี_Rain,ปริมาณฝน,สถานี_Dew_point,อุณหภูมิจุดน้ำค้าง,สถานี_Dry_bulb,อุณหภูมิตุ้มแห้ง
0,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1.0,10,2011,1005.47,381201-ขอนแก่น จ.ขอนแก่น,83,353301-เลย สกษ. จ.เลย,3,353301-เลย สกษ. จ.เลย,9,381201-ขอนแก่น จ.ขอนแก่น,1.4,381201-ขอนแก่น จ.ขอนแก่น,1.4,381201-ขอนแก่น จ.ขอนแก่น,27.6
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2.0,10,2011,1006.65,381201-ขอนแก่น จ.ขอนแก่น,92,353301-เลย สกษ. จ.เลย,2,353301-เลย สกษ. จ.เลย,10,381201-ขอนแก่น จ.ขอนแก่น,17.7,381201-ขอนแก่น จ.ขอนแก่น,17.7,381201-ขอนแก่น จ.ขอนแก่น,25.6
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,3.0,10,2011,1007.49,381201-ขอนแก่น จ.ขอนแก่น,86,353301-เลย สกษ. จ.เลย,3,353301-เลย สกษ. จ.เลย,10,381201-ขอนแก่น จ.ขอนแก่น,3,381201-ขอนแก่น จ.ขอนแก่น,3,381201-ขอนแก่น จ.ขอนแก่น,25.6

In [173]:
merge6.any().isnull()

จังหวัด               False
สถานี_Pressure        False
วัน                   False
เดือน                 False
ปี                    False
ความกด                False
สถานี_Humidity        False
ความชื้น              False
สถานี_Wind            False
ความเร็วลม            False
สถานี_Cloud           False
จำนวนเมฆ              False
สถานี_Rain            False
ปริมาณฝน              False
สถานี_Dew_point       False
อุณหภูมิจุดน้ำค้าง    False
สถานี_Dry_bulb        False
อุณหภูมิตุ้มแห้ง      False
dtype: bool

In [174]:
merge7 = merge6.merge(Lowest_temp, how ='inner', left_on=['จังหวัด', 'วัน',	'เดือน',	'ปี'],right_on=['จังหวัด', 'วัน',	'เดือน',	'ปี'])
print(merge7.shape)
merge7.head(3)

(8365, 20)

,จังหวัด,สถานี_Pressure,วัน,เดือน,ปี,ความกด,สถานี_Humidity,ความชื้น,สถานี_Wind,ความเร็วลม,สถานี_Cloud,จำนวนเมฆ,สถานี_Rain,ปริมาณฝน,สถานี_Dew_point,อุณหภูมิจุดน้ำค้าง,สถานี_Dry_bulb,อุณหภูมิตุ้มแห้ง,สถานี_Lowest_temp,อุณหภูมิต่ำสุด
0,ขอนแก่น,352201-หนองคาย จ.หนองคาย,1.0,10,2011,1005.47,381201-ขอนแก่น จ.ขอนแก่น,83,353301-เลย สกษ. จ.เลย,3,353301-เลย สกษ. จ.เลย,9,381201-ขอนแก่น จ.ขอนแก่น,1.4,381201-ขอนแก่น จ.ขอนแก่น,1.4,381201-ขอนแก่น จ.ขอนแก่น,27.6,381201-ขอนแก่น จ.ขอนแก่น,24.8
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,2.0,10,2011,1006.65,381201-ขอนแก่น จ.ขอนแก่น,92,353301-เลย สกษ. จ.เลย,2,353301-เลย สกษ. จ.เลย,10,381201-ขอนแก่น จ.ขอนแก่น,17.7,381201-ขอนแก่น จ.ขอนแก่น,17.7,381201-ขอนแก่น จ.ขอนแก่น,25.6,381201-ขอนแก่น จ.ขอนแก่น,23.0
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,3.0,10,2011,1007.49,381201-ขอนแก่น จ.ขอนแก่น,86,353301-เลย สกษ. จ.เลย,3,353301-เลย สกษ. จ.เลย,10,381201-ขอนแก่น จ.ขอนแก่น,3,381201-ขอนแก่น จ.ขอนแก่น,3,381201-ขอนแก่น จ.ขอนแก่น,25.6,381201-ขอนแก่น จ.ขอนแก่น,22.1

In [175]:
merge7.any().isnull()

จังหวัด               False
สถานี_Pressure        False
วัน                   False
เดือน                 False
ปี                    False
ความกด                False
สถานี_Humidity        False
ความชื้น              False
สถานี_Wind            False
ความเร็วลม            False
สถานี_Cloud           False
จำนวนเมฆ              False
สถานี_Rain            False
ปริมาณฝน              False
สถานี_Dew_point       False
อุณหภูมิจุดน้ำค้าง    False
สถานี_Dry_bulb        False
อุณหภูมิตุ้มแห้ง      False
สถานี_Lowest_temp     False
อุณหภูมิต่ำสุด        False
dtype: bool

In [176]:
merge7.columns

Index(['จังหวัด', 'สถานี_Pressure', 'วัน', 'เดือน', 'ปี', 'ความกด',
       'สถานี_Humidity', 'ความชื้น', 'สถานี_Wind', 'ความเร็วลม', 'สถานี_Cloud',
       'จำนวนเมฆ', 'สถานี_Rain', 'ปริมาณฝน', 'สถานี_Dew_point',
       'อุณหภูมิจุดน้ำค้าง', 'สถานี_Dry_bulb', 'อุณหภูมิตุ้มแห้ง',
       'สถานี_Lowest_temp', 'อุณหภูมิต่ำสุด'],
      dtype='object')

In [178]:
table = merge7[['จังหวัด', 'สถานี_Pressure','สถานี_Humidity','สถานี_Dry_bulb','สถานี_Dew_point','สถานี_Lowest_temp','สถานี_Cloud','สถานี_Rain','สถานี_Wind','วัน', 'เดือน', 'ปี', 'ความกด'
,'ความชื้น','อุณหภูมิตุ้มแห้ง','อุณหภูมิจุดน้ำค้าง','อุณหภูมิต่ำสุด','จำนวนเมฆ','ปริมาณฝน','ความเร็วลม']]
print(table.shape)
table.head()

(8365, 20)

,จังหวัด,สถานี_Pressure,สถานี_Humidity,สถานี_Dry_bulb,สถานี_Dew_point,สถานี_Lowest_temp,สถานี_Cloud,สถานี_Rain,สถานี_Wind,วัน,เดือน,ปี,ความกด,ความชื้น,อุณหภูมิตุ้มแห้ง,อุณหภูมิจุดน้ำค้าง,อุณหภูมิต่ำสุด,จำนวนเมฆ,ปริมาณฝน,ความเร็วลม
0,ขอนแก่น,352201-หนองคาย จ.หนองคาย,381201-ขอนแก่น จ.ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,353301-เลย สกษ. จ.เลย,381201-ขอนแก่น จ.ขอนแก่น,353301-เลย สกษ. จ.เลย,1.0,10,2011,1005.47,83,27.6,1.4,24.8,9,1.4,3
1,ขอนแก่น,352201-หนองคาย จ.หนองคาย,381201-ขอนแก่น จ.ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,353301-เลย สกษ. จ.เลย,381201-ขอนแก่น จ.ขอนแก่น,353301-เลย สกษ. จ.เลย,2.0,10,2011,1006.65,92,25.6,17.7,23.0,10,17.7,2
2,ขอนแก่น,352201-หนองคาย จ.หนองคาย,381201-ขอนแก่น จ.ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,353301-เลย สกษ. จ.เลย,381201-ขอนแก่น จ.ขอนแก่น,353301-เลย สกษ. จ.เลย,3.0,10,2011,1007.49,86,25.6,3,22.1,10,3,3
3,ขอนแก่น,352201-หนองคาย จ.หนองคาย,381201-ขอนแก่น จ.ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,353301-เลย สกษ. จ.เลย,381201-ขอนแก่น จ.ขอนแก่น,353301-เลย สกษ. จ.เลย,4.0,10,2011,1008.28,80,25.8,0,22.8,8,0,2
4,ขอนแก่น,352201-หนองคาย จ.หนองคาย,381201-ขอนแก่น จ.ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,353301-เลย สกษ. จ.เลย,381201-ขอนแก่น จ.ขอนแก่น,353301-เลย สกษ. จ.เลย,5.0,10,2011,1009.88,86,24.3,2.2,23.1,10,2.2,2

## 1

In [283]:
from datetime import datetime

In [207]:
m = '02'
d = 30

In [241]:
print(type(table['ปี']))

<class 'pandas.core.series.Series'>

In [240]:
2020%4

0

In [246]:
table['เดือน'].unique()

array(['10', '11', '12', '01', '02'], dtype=object)

In [247]:
table['ปี'].unique()

array([' 2011', ' 2012', ' 2013', '2013', '2014', '2015', '2016', '2017',
       '2018', '2019', '2020', '2021', '2022'], dtype=object)

In [259]:
#table_new = table.drop(table[(table['เดือน'] == '02') & (table['วัน'] == 30)].index)
#table_new.head()

In [310]:
s = []
for row in table.iterrows():
  dd=int(row[1]['วัน'])
  mm=int(row[1]['เดือน'])
  yy=int(row[1]['ปี'])
  if(mm==1 or mm==3 or mm==5 or mm==7 or mm==8 or mm==10 or mm==12):
      max1=31
  elif(mm==4 or mm==6 or mm==9 or mm==11):
      max1=30
  elif(yy%4==0 and yy%100!=0 or yy%400==0):
      max1=29
  else:
      max1=28
  if(dd<1 or dd>max1):
    data1 = { }
    data1['วัน']
    s.append(dd,mm,yy)
    print(dd)

TypeError: ignored

#นัท

In [311]:
#ทำการเปลี่ยนค่าในตาราง  opendata_volume_listing_clean คอลัมน์ province_name_en ให้มีรูปแบบเดียวกันกับค่าในตาราง table_merge4 คอลัมน์ province_name_en 
table.loc[table['ปี'] == ' 2011','ปี'] = '2011'
table.loc[table['ปี'] == ' 2012','ปี'] = '2012'
table.loc[table['ปี'] == ' 2013','ปี'] = '2013'

/usr/local/lib/python3.8/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [312]:
table['ปี'] = table['ปี'].astype('int') #แก้ให้วันไม่เป็นจุดทศนิยม แล้วให้ประเภทเป็น str เหมือนเพือ่น
table['เดือน'] = table['เดือน'].astype('int')
table.dtypes

<ipython-input-312-8a55ef26141c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table['ปี'] = table['ปี'].astype('int') #แก้ให้วันไม่เป็นจุดทศนิยม แล้วให้ประเภทเป็น str เหมือนเพือ่น
<ipython-input-312-8a55ef26141c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table['เดือน'] = table['เดือน'].astype('int')

จังหวัด                object
สถานี_Pressure         object
สถานี_Humidity         object
สถานี_Dry_bulb         object
สถานี_Dew_point        object
สถานี_Lowest_temp      object
สถานี_Cloud            object
สถานี_Rain             object
สถานี_Wind             object
วัน                   float64
เดือน                   int64
ปี                      int64
ความกด                 object
ความชื้น               object
อุณหภูมิตุ้มแห้ง       object
อุณหภูมิจุดน้ำค้าง     object
อุณหภูมิต่ำสุด         object
จำนวนเมฆ               object
ปริมาณฝน               object
ความเร็วลม             object
dtype: object

In [314]:
A = list()
for index , row in table.iterrows():
    for i in table:
        #A.append(datetime.datetime(year=row['ปี'],month=row['เดือน'],day=row['วัน']))
        try:
            newDate = datetime.datetime(year=row['ปี'],month=row['เดือน'],day=row['วัน'])
            correctDate = True
        except ValueError:
            correctDate = False
       # print(str(correctDate))
        if correctDate == True:
           #A.append(datetime.datetime(year=row['ปี'],month=row['เดือน'],day=row['วัน']))
           A.append(table)

AttributeError: ignored